<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.ClientTypeMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.ClientTypePO">
    <id column="client_type_id" jdbcType="BIGINT" property="clientTypeId" />
    <result column="client_type_name" jdbcType="CHAR" property="clientTypeName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    client_type_id, client_type_name, user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_client_type
    where client_type_id = #{clientTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_client_type
    where client_type_id = #{clientTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.ClientTypePO">
    insert into dd_client_type (client_type_id, client_type_name, user_id, 
      create_time)
    values (#{clientTypeId,jdbcType=BIGINT}, #{clientTypeName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.ClientTypePO">
    insert into dd_client_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientTypeId != null">
        client_type_id,
      </if>
      <if test="clientTypeName != null">
        client_type_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientTypeId != null">
        #{clientTypeId,jdbcType=BIGINT},
      </if>
      <if test="clientTypeName != null">
        #{clientTypeName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.ClientTypePO">
    update dd_client_type
    <set>
      <if test="clientTypeName != null">
        client_type_name = #{clientTypeName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where client_type_id = #{clientTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.ClientTypePO">
    update dd_client_type
    set client_type_name = #{clientTypeName,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where client_type_id = #{clientTypeId,jdbcType=BIGINT}
  </update>

  <select id="queryByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dd_client_type
    where client_type_name = #{name,jdbcType=CHAR}
  </select>

  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dd_client_type
  </select>
</mapper>