<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.CurrencyMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.CurrencyPO">
        <id column="currency_id" jdbcType="BIGINT" property="currencyId"/>
        <result column="currency_name" jdbcType="CHAR" property="currencyName"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        currency_id, currency_name, user_id, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_currency
        where currency_id = #{currencyId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from dd_currency
        where currency_id = #{currencyId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.CurrencyPO">
        insert into dd_currency (currency_id, currency_name, user_id,
                                 create_time)
        values (#{currencyId,jdbcType=BIGINT}, #{currencyName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.CurrencyPO">
        insert into dd_currency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="currencyId != null">
                currency_id,
            </if>
            <if test="currencyName != null">
                currency_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="currencyId != null">
                #{currencyId,jdbcType=BIGINT},
            </if>
            <if test="currencyName != null">
                #{currencyName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.CurrencyPO">
        update dd_currency
        <set>
            <if test="currencyName != null">
                currency_name = #{currencyName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where currency_id = #{currencyId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.CurrencyPO">
        update dd_currency
        set currency_name = #{currencyName,jdbcType=CHAR},
            user_id       = #{userId,jdbcType=BIGINT},
            create_time   = #{createTime,jdbcType=TIMESTAMP}
        where currency_id = #{currencyId,jdbcType=BIGINT}
    </update>

    <select id="queryAll" resultType="java.util.Map">
        select currency_id as cid, currency_name as cname
        from dd_currency
    </select>
    <select id="queryByName" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_currency
        where currency_name = #{cname,jdbcType=CHAR}
    </select>
</mapper>