<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.HumidityLevelMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.HumidityLevelPO">
        <id column="humidity_level_id" jdbcType="BIGINT" property="humidityLevelId"/>
        <result column="humidity_level_name" jdbcType="CHAR" property="humidityLevelName"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        humidity_level_id, humidity_level_name, user_id, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_humidity_level
        where humidity_level_id = #{humidityLevelId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from dd_humidity_level
        where humidity_level_id = #{humidityLevelId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.HumidityLevelPO">
        insert into dd_humidity_level (humidity_level_id, humidity_level_name, user_id,
                                       create_time)
        values (#{humidityLevelId,jdbcType=BIGINT}, #{humidityLevelName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.HumidityLevelPO">
        insert into dd_humidity_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="humidityLevelId != null">
                humidity_level_id,
            </if>
            <if test="humidityLevelName != null">
                humidity_level_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="humidityLevelId != null">
                #{humidityLevelId,jdbcType=BIGINT},
            </if>
            <if test="humidityLevelName != null">
                #{humidityLevelName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.HumidityLevelPO">
        update dd_humidity_level
        <set>
            <if test="humidityLevelName != null">
                humidity_level_name = #{humidityLevelName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where humidity_level_id = #{humidityLevelId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.HumidityLevelPO">
        update dd_humidity_level
        set humidity_level_name = #{humidityLevelName,jdbcType=CHAR},
            user_id             = #{userId,jdbcType=BIGINT},
            create_time         = #{createTime,jdbcType=TIMESTAMP}
        where humidity_level_id = #{humidityLevelId,jdbcType=BIGINT}
    </update>

    <select id="queryByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_humidity_level
        where humidity_level_name = #{hlname,jdbcType=CHAR}
    </select>
    <select id="queryAll" resultType="java.util.Map">
        select humidity_level_id as hlid, humidity_level_name as hlname
        from dd_humidity_level
    </select>
</mapper>