<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.MaterialUnitMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.MaterialUnitPO">
    <id column="material_unit_id" jdbcType="BIGINT" property="materialUnitId" />
    <result column="material_unit_name" jdbcType="CHAR" property="materialUnitName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    material_unit_id, material_unit_name, user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_material_unit
    where material_unit_id = #{materialUnitId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_material_unit
    where material_unit_id = #{materialUnitId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.MaterialUnitPO">
    insert into dd_material_unit (material_unit_id, material_unit_name, user_id, 
      create_time)
    values (#{materialUnitId,jdbcType=BIGINT}, #{materialUnitName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.MaterialUnitPO">
    insert into dd_material_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialUnitId != null">
        material_unit_id,
      </if>
      <if test="materialUnitName != null">
        material_unit_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialUnitId != null">
        #{materialUnitId,jdbcType=BIGINT},
      </if>
      <if test="materialUnitName != null">
        #{materialUnitName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.MaterialUnitPO">
    update dd_material_unit
    <set>
      <if test="materialUnitName != null">
        material_unit_name = #{materialUnitName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where material_unit_id = #{materialUnitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.MaterialUnitPO">
    update dd_material_unit
    set material_unit_name = #{materialUnitName,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where material_unit_id = #{materialUnitId,jdbcType=BIGINT}
  </update>
</mapper>