<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.ProcessMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.ProcessPO">
    <id column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="process_name" jdbcType="CHAR" property="processName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    process_id, process_name, user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_process
    where process_id = #{processId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_process
    where process_id = #{processId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.ProcessPO">
    insert into dd_process (process_id, process_name, user_id, 
      create_time)
    values (#{processId,jdbcType=BIGINT}, #{processName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.ProcessPO">
    insert into dd_process
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        process_id,
      </if>
      <if test="processName != null">
        process_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.ProcessPO">
    update dd_process
    <set>
      <if test="processName != null">
        process_name = #{processName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where process_id = #{processId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.ProcessPO">
    update dd_process
    set process_name = #{processName,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where process_id = #{processId,jdbcType=BIGINT}
  </update>

  <!--  给出所有物料工序列表，模糊查询-->
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dd_process pr
  </select>

  <!--  根据物料工序名查询是否已存在-->
  <select id="isExist" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from dd_process pr
    where pr.process_name = #{processName,jdbcType=CHAR}
  </select>
</mapper>