<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.ProduceLossLevelMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.ProduceLossLevelPO">
        <id column="produce_loss_level_id" jdbcType="BIGINT" property="produceLossLevelId"/>
        <result column="produce_loss_level_name" jdbcType="CHAR" property="produceLossLevelName"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        produce_loss_level_id, produce_loss_level_name, user_id, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_produce_loss_level
        where produce_loss_level_id = #{produceLossLevelId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from dd_produce_loss_level
        where produce_loss_level_id = #{produceLossLevelId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.ProduceLossLevelPO">
        insert into dd_produce_loss_level (produce_loss_level_id, produce_loss_level_name,
                                           user_id, create_time)
        values (#{produceLossLevelId,jdbcType=BIGINT}, #{produceLossLevelName,jdbcType=CHAR},
                #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.ProduceLossLevelPO">
        insert into dd_produce_loss_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="produceLossLevelId != null">
                produce_loss_level_id,
            </if>
            <if test="produceLossLevelName != null">
                produce_loss_level_name,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="produceLossLevelId != null">
                #{produceLossLevelId,jdbcType=BIGINT},
            </if>
            <if test="produceLossLevelName != null">
                #{produceLossLevelName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.ProduceLossLevelPO">
        update dd_produce_loss_level
        <set>
            <if test="produceLossLevelName != null">
                produce_loss_level_name = #{produceLossLevelName,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where produce_loss_level_id = #{produceLossLevelId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.ProduceLossLevelPO">
        update dd_produce_loss_level
        set produce_loss_level_name = #{produceLossLevelName,jdbcType=CHAR},
            user_id                 = #{userId,jdbcType=BIGINT},
            create_time             = #{createTime,jdbcType=TIMESTAMP}
        where produce_loss_level_id = #{produceLossLevelId,jdbcType=BIGINT}
    </update>

    <select id="queryByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dd_produce_loss_level
        where produce_loss_level_name = #{pllname,jdbcType=CHAR}
    </select>
    <select id="queryAll" resultType="java.util.Map">
        select produce_loss_level_id as pllid, produce_loss_level_name as pllname
        from dd_produce_loss_level
    </select>
</mapper>