<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.dd.SupplierTypeMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.dd.SupplierTypePO">
    <id column="supplier_type_id" jdbcType="BIGINT" property="supplierTypeId" />
    <result column="supplier_type_name" jdbcType="CHAR" property="supplierTypeName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    supplier_type_id, supplier_type_name, user_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_supplier_type
    where supplier_type_id = #{supplierTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_supplier_type
    where supplier_type_id = #{supplierTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.dd.SupplierTypePO">
    insert into dd_supplier_type (supplier_type_id, supplier_type_name, user_id, 
      create_time)
    values (#{supplierTypeId,jdbcType=BIGINT}, #{supplierTypeName,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.dd.SupplierTypePO">
    insert into dd_supplier_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierTypeId != null">
        supplier_type_id,
      </if>
      <if test="supplierTypeName != null">
        supplier_type_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierTypeId != null">
        #{supplierTypeId,jdbcType=BIGINT},
      </if>
      <if test="supplierTypeName != null">
        #{supplierTypeName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.dd.SupplierTypePO">
    update dd_supplier_type
    <set>
      <if test="supplierTypeName != null">
        supplier_type_name = #{supplierTypeName,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where supplier_type_id = #{supplierTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.dd.SupplierTypePO">
    update dd_supplier_type
    set supplier_type_name = #{supplierTypeName,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where supplier_type_id = #{supplierTypeId,jdbcType=BIGINT}
  </update>
</mapper>