<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.bd.FirstGoodsFundsMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.bd.FirstGoodsFundsPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dates" jdbcType="DATE" property="dates" />
    <result column="costs" jdbcType="REAL" property="costs" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dates, costs
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_first_goods_funds
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_first_goods_funds
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.bd.FirstGoodsFundsPO">
    insert into t_first_goods_funds (id, dates, costs)
    values (#{id,jdbcType=BIGINT}, #{dates,jdbcType=DATE}, #{costs,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.bd.FirstGoodsFundsPO">
    insert into t_first_goods_funds
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dates != null">
        dates,
      </if>
      <if test="costs != null">
        costs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dates != null">
        #{dates,jdbcType=DATE},
      </if>
      <if test="costs != null">
        #{costs,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.bd.FirstGoodsFundsPO">
    update t_first_goods_funds
    <set>
      <if test="dates != null">
        dates = #{dates,jdbcType=DATE},
      </if>
      <if test="costs != null">
        costs = #{costs,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.bd.FirstGoodsFundsPO">
    update t_first_goods_funds
    set dates = #{dates,jdbcType=DATE},
      costs = #{costs,jdbcType=REAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>