<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.bd.GoodsRotationRateMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.bd.GoodsRotationRatePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="dates" jdbcType="DATE" property="dates"/>
        <result column="rotation_num" jdbcType="DECIMAL" property="rotationNum"/>
        <result column="same_rate" jdbcType="DECIMAL" property="sameRate"/>
        <result column="circle_rate" jdbcType="DECIMAL" property="circleRate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, dates, rotation_num, same_rate, circle_rate
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_rotation_rate
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from t_goods_rotation_rate
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.bd.GoodsRotationRatePO">
        insert into t_goods_rotation_rate (id, dates, rotation_num,
                                           same_rate, circle_rate)
        values (#{id,jdbcType=BIGINT}, #{dates,jdbcType=DATE}, #{rotationNum,jdbcType=DECIMAL},
                #{sameRate,jdbcType=DECIMAL}, #{circleRate,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.bd.GoodsRotationRatePO">
        insert into t_goods_rotation_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dates != null">
                dates,
            </if>
            <if test="rotationNum != null">
                rotation_num,
            </if>
            <if test="sameRate != null">
                same_rate,
            </if>
            <if test="circleRate != null">
                circle_rate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dates != null">
                #{dates,jdbcType=DATE},
            </if>
            <if test="rotationNum != null">
                #{rotationNum,jdbcType=DECIMAL},
            </if>
            <if test="sameRate != null">
                #{sameRate,jdbcType=DECIMAL},
            </if>
            <if test="circleRate != null">
                #{circleRate,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.bd.GoodsRotationRatePO">
        update t_goods_rotation_rate
        <set>
            <if test="dates != null">
                dates = #{dates,jdbcType=DATE},
            </if>
            <if test="rotationNum != null">
                rotation_num = #{rotationNum,jdbcType=DECIMAL},
            </if>
            <if test="sameRate != null">
                same_rate = #{sameRate,jdbcType=DECIMAL},
            </if>
            <if test="circleRate != null">
                circle_rate = #{circleRate,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.bd.GoodsRotationRatePO">
        update t_goods_rotation_rate
        set dates        = #{dates,jdbcType=DATE},
            rotation_num = #{rotationNum,jdbcType=DECIMAL},
            same_rate    = #{sameRate,jdbcType=DECIMAL},
            circle_rate  = #{circleRate,jdbcType=DECIMAL}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryLastDay" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_rotation_rate
        order by dates desc limit 1;
    </select>
</mapper>