<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.am.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.am.RoleAuthorityPO">
    <id column="role_authority_id" jdbcType="BIGINT" property="roleAuthorityId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="authority_id" jdbcType="BIGINT" property="authorityId" />
  </resultMap>
  <sql id="Base_Column_List">
    role_authority_id, role_id, authority_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from am_role_authority
    where role_authority_id = #{roleAuthorityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from am_role_authority
    where role_authority_id = #{roleAuthorityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.am.RoleAuthorityPO">
    insert into am_role_authority (role_authority_id, role_id, authority_id
      )
    values (#{roleAuthorityId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{authorityId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.am.RoleAuthorityPO">
    insert into am_role_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleAuthorityId != null">
        role_authority_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleAuthorityId != null">
        #{roleAuthorityId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.am.RoleAuthorityPO">
    update am_role_authority
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="authorityId != null">
        authority_id = #{authorityId,jdbcType=BIGINT},
      </if>
    </set>
    where role_authority_id = #{roleAuthorityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.am.RoleAuthorityPO">
    update am_role_authority
    set role_id = #{roleId,jdbcType=BIGINT},
      authority_id = #{authorityId,jdbcType=BIGINT}
    where role_authority_id = #{roleAuthorityId,jdbcType=BIGINT}
  </update>

<!--  根据角色id删除角色权限表中的所有权限-->
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
    delete from am_role_authority
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>

<!--  批量新增角色权限表的权限-->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into am_role_authority(role_id,authority_id)
    values
    <foreach collection="perms" item="perm" index="index" separator="," >
      (#{roleId,jdbcType=BIGINT}, #{perm,jdbcType=BIGINT})
    </foreach>
  </insert>

  <select id="queryByRoleId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select distinct authority_id
    from am_role_authority
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
</mapper>