<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.sm.StorageDetailMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.sm.StorageDetailPO">
        <id column="storage_detail_id" jdbcType="BIGINT" property="storageDetailId"/>
        <result column="storage_group_id" jdbcType="BIGINT" property="storageGroupId"/>
        <result column="print_label_id" jdbcType="BIGINT" property="printLabelId"/>
    </resultMap>
    <sql id="Base_Column_List">
        storage_detail_id, storage_group_id, print_label_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sm_storage_detail
        where storage_detail_id = #{storageDetailId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sm_storage_detail
        where storage_detail_id = #{storageDetailId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteBySid" parameterType="java.lang.Long">
        delete from sm_storage_detail sd where sd.storage_group_id in (select sg.storage_group_id from sm_storage_group sg where sg.storage_id = #{storageId, jdbcType=BIGINT})
    </delete>

    <insert id="insert" parameterType="com.smartindustry.common.pojo.sm.StorageDetailPO">
        insert into sm_storage_detail (storage_detail_id, storage_group_id, print_label_id)
        values (#{storageDetailId,jdbcType=BIGINT}, #{storageGroupId,jdbcType=BIGINT}, #{printLabelId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.sm.StorageDetailPO">
        insert into sm_storage_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageDetailId != null">
                storage_detail_id,
            </if>
            <if test="storageGroupId != null">
                storage_group_id,
            </if>
            <if test="printLabelId != null">
                print_label_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageDetailId != null">
                #{storageDetailId,jdbcType=BIGINT},
            </if>
            <if test="storageGroupId != null">
                #{storageGroupId,jdbcType=BIGINT},
            </if>
            <if test="printLabelId != null">
                #{printLabelId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.sm.StorageDetailPO">
        update sm_storage_detail
        <set>
            <if test="storageGroupId != null">
                storage_group_id = #{storageGroupId,jdbcType=BIGINT},
            </if>
            <if test="printLabelId != null">
                print_label_id = #{printLabelId,jdbcType=BIGINT},
            </if>
        </set>
        where storage_detail_id = #{storageDetailId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.sm.StorageDetailPO">
        update sm_storage_detail
        set storage_group_id = #{storageGroupId,jdbcType=BIGINT},
            print_label_id   = #{printLabelId,jdbcType=BIGINT}
        where storage_detail_id = #{storageDetailId,jdbcType=BIGINT}
    </update>

    <sql id="Bo_Column_List">
        storage_detail_id, storage_group_id, sd.print_label_id, num
    </sql>
    <resultMap id="BoResultMap" type="com.smartindustry.common.bo.sm.StorageDetailBO" extends="BaseResultMap">
        <result column="num" jdbcType="INTEGER" property="num"/>
    </resultMap>

    <sql id="Bo_detail_Column_List">
        sd.storage_detail_id, sd.storage_group_id, sd.print_label_id, pl.num,pl.package_id, m.material_no, m.material_id, m.material_name
    </sql>
    <resultMap id="BoDetailResultMap" type="com.smartindustry.common.bo.sm.StorageDetailBO" extends="BoResultMap">
        <result column="package_id" jdbcType="INTEGER" property="packageId"/>
        <result column="material_no" jdbcType="INTEGER" property="materialNo"/>
        <result column="material_id" jdbcType="INTEGER" property="materialId"/>
        <result column="material_name" jdbcType="INTEGER" property="materialName"/>
    </resultMap>
    <select id="queryByGroupId" parameterType="java.lang.Long" resultMap="BoDetailResultMap">
        select
        <include refid="Bo_detail_Column_List"/>
        from sm_storage_detail sd
        left join si_print_label pl on sd.print_label_id = pl.print_label_id
        left join si_material m on m.material_id = pl.material_id
        where storage_group_id = #{storageGroupId,jdbcType=BIGINT}
    </select>
    <select id="queryByPlId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sm_storage_detail
        where print_label_id = #{printLabelId,jdbcType=BIGINT}
    </select>


    <select id="queryByGroupIds" parameterType="java.util.List" resultMap="BoResultMap">
        select
        <include refid="Bo_Column_List"/>
        from sm_storage_detail sd
        left join si_print_label pl on sd.print_label_id = pl.print_label_id
        where sd.storage_group_id in
        <foreach collection="list" separator="," item="sgid" open="(" close=")">
            #{sgid, jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>