<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.MaterialPO">
    <id column="material_no" jdbcType="CHAR" property="materialNo" />
    <result column="material_name" jdbcType="CHAR" property="materialName" />
    <result column="material_type" jdbcType="TINYINT" property="materialType" />
    <result column="material_model" jdbcType="CHAR" property="materialModel" />
    <result column="material_desc" jdbcType="CHAR" property="materialDesc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    material_no, material_name, material_type, material_model, material_desc, create_time, 
    update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sm_material
    where material_no = #{materialNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sm_material
    where material_no = #{materialNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.MaterialPO">
    insert into sm_material (material_no, material_name, material_type, 
      material_model, material_desc, create_time, 
      update_time, dr)
    values (#{materialNo,jdbcType=CHAR}, #{materialName,jdbcType=CHAR}, #{materialType,jdbcType=TINYINT}, 
      #{materialModel,jdbcType=CHAR}, #{materialDesc,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.MaterialPO">
    insert into sm_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="materialModel != null">
        material_model,
      </if>
      <if test="materialDesc != null">
        material_desc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialNo != null">
        #{materialNo,jdbcType=CHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=CHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=TINYINT},
      </if>
      <if test="materialModel != null">
        #{materialModel,jdbcType=CHAR},
      </if>
      <if test="materialDesc != null">
        #{materialDesc,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.MaterialPO">
    update sm_material
    <set>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=CHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=TINYINT},
      </if>
      <if test="materialModel != null">
        material_model = #{materialModel,jdbcType=CHAR},
      </if>
      <if test="materialDesc != null">
        material_desc = #{materialDesc,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where material_no = #{materialNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.MaterialPO">
    update sm_material
    set material_name = #{materialName,jdbcType=CHAR},
      material_type = #{materialType,jdbcType=TINYINT},
      material_model = #{materialModel,jdbcType=CHAR},
      material_desc = #{materialDesc,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where material_no = #{materialNo,jdbcType=CHAR}
  </update>
</mapper>