<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.ReceiptHeadMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.ReceiptHeadPO">
        <id column="receipt_head_id" jdbcType="BIGINT" property="receiptHeadId"/>
        <result column="order_no" jdbcType="CHAR" property="orderNo"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="order_date" jdbcType="DATE" property="orderDate"/>
        <result column="supplier" jdbcType="CHAR" property="supplier"/>
        <result column="buyer" jdbcType="CHAR" property="buyer"/>
        <result column="plan_date" jdbcType="DATE" property="planDate"/>
        <result column="logistics_company" jdbcType="CHAR" property="logisticsCompany"/>
        <result column="logistics_no" jdbcType="CHAR" property="logisticsNo"/>
        <result column="receipt_way" jdbcType="TINYINT" property="receiptWay"/>
        <result column="remark" jdbcType="CHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="dr" jdbcType="TINYINT" property="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
        receipt_head_id, order_no, order_type, order_date, supplier, buyer, plan_date, logistics_company,
    logistics_no, receipt_way, remark, create_time, update_time, dr
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sm_receipt_head
        where receipt_head_id = #{receiptHeadId,jdbcType=BIGINT}
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update sm_receipt_head
        set dr = 2
        where receipt_head_id = #{receiptHeadId,jdbcType=BIGINT}
    </update>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.ReceiptHeadPO" useGeneratedKeys="true"
            keyProperty="receiptHeadId">
        insert into sm_receipt_head (receipt_head_id, order_no, order_type,
                                     order_date, supplier, buyer,
                                     plan_date, logistics_company, logistics_no,
                                     receipt_way, remark, create_time,
                                     update_time, dr)
        values (#{receiptHeadId,jdbcType=BIGINT}, #{orderNo,jdbcType=CHAR}, #{orderType,jdbcType=TINYINT},
                #{orderDate,jdbcType=DATE}, #{supplier,jdbcType=CHAR}, #{buyer,jdbcType=CHAR},
                #{planDate,jdbcType=DATE}, #{logisticsCompany,jdbcType=CHAR}, #{logisticsNo,jdbcType=CHAR},
                #{receiptWay,jdbcType=TINYINT}, #{remark,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.ReceiptHeadPO">
        insert into sm_receipt_head
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiptHeadId != null">
                receipt_head_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="orderDate != null">
                order_date,
            </if>
            <if test="supplier != null">
                supplier,
            </if>
            <if test="buyer != null">
                buyer,
            </if>
            <if test="planDate != null">
                plan_date,
            </if>
            <if test="logisticsCompany != null">
                logistics_company,
            </if>
            <if test="logisticsNo != null">
                logistics_no,
            </if>
            <if test="receiptWay != null">
                receipt_way,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="dr != null">
                dr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiptHeadId != null">
                #{receiptHeadId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=CHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=TINYINT},
            </if>
            <if test="orderDate != null">
                #{orderDate,jdbcType=DATE},
            </if>
            <if test="supplier != null">
                #{supplier,jdbcType=CHAR},
            </if>
            <if test="buyer != null">
                #{buyer,jdbcType=CHAR},
            </if>
            <if test="planDate != null">
                #{planDate,jdbcType=DATE},
            </if>
            <if test="logisticsCompany != null">
                #{logisticsCompany,jdbcType=CHAR},
            </if>
            <if test="logisticsNo != null">
                #{logisticsNo,jdbcType=CHAR},
            </if>
            <if test="receiptWay != null">
                #{receiptWay,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.ReceiptHeadPO">
        update sm_receipt_head
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=CHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=TINYINT},
            </if>
            <if test="orderDate != null">
                order_date = #{orderDate,jdbcType=DATE},
            </if>
            <if test="supplier != null">
                supplier = #{supplier,jdbcType=CHAR},
            </if>
            <if test="buyer != null">
                buyer = #{buyer,jdbcType=CHAR},
            </if>
            <if test="planDate != null">
                plan_date = #{planDate,jdbcType=DATE},
            </if>
            <if test="logisticsCompany != null">
                logistics_company = #{logisticsCompany,jdbcType=CHAR},
            </if>
            <if test="logisticsNo != null">
                logistics_no = #{logisticsNo,jdbcType=CHAR},
            </if>
            <if test="receiptWay != null">
                receipt_way = #{receiptWay,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=TINYINT},
            </if>
        </set>
        where receipt_head_id = #{receiptHeadId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.ReceiptHeadPO">
        update sm_receipt_head
        set order_no          = #{orderNo,jdbcType=CHAR},
            order_type        = #{orderType,jdbcType=TINYINT},
            order_date        = #{orderDate,jdbcType=DATE},
            supplier          = #{supplier,jdbcType=CHAR},
            buyer             = #{buyer,jdbcType=CHAR},
            plan_date         = #{planDate,jdbcType=DATE},
            logistics_company = #{logisticsCompany,jdbcType=CHAR},
            logistics_no      = #{logisticsNo,jdbcType=CHAR},
            receipt_way       = #{receiptWay,jdbcType=TINYINT},
            remark            = #{remark,jdbcType=CHAR},
            create_time       = #{createTime,jdbcType=TIMESTAMP},
            update_time       = #{updateTime,jdbcType=TIMESTAMP},
            dr                = #{dr,jdbcType=TINYINT}
        where receipt_head_id = #{receiptHeadId,jdbcType=BIGINT}
    </update>

    <select id="queryNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sm_receipt_head
        where order_no like #{no,jdbcType=CHAR} '%'
        order by receipt_head_id desc limit 1
    </select>
</mapper>