<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.StorageGroupMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.StorageGroupPO">
        <id column="storage_group_id" jdbcType="BIGINT" property="storageGroupId"/>
        <result column="storage_id" jdbcType="BIGINT" property="storageId"/>
        <result column="location_no" jdbcType="CHAR" property="locationNo"/>
    </resultMap>
    <sql id="Base_Column_List">
        storage_group_id, storage_id, location_no
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sm_storage_group
        where storage_group_id = #{storageGroupId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sm_storage_group
        where storage_group_id = #{storageGroupId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.StorageGroupPO" useGeneratedKeys="true"
            keyProperty="storageGroupId">
        insert into sm_storage_group (storage_group_id, storage_id, location_no)
        values (#{storageGroupId,jdbcType=BIGINT}, #{storageId,jdbcType=BIGINT}, #{locationNo,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.StorageGroupPO">
        insert into sm_storage_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageGroupId != null">
                storage_group_id,
            </if>
            <if test="storageId != null">
                storage_id,
            </if>
            <if test="locationNo != null">
                location_no,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageGroupId != null">
                #{storageGroupId,jdbcType=BIGINT},
            </if>
            <if test="storageId != null">
                #{storageId,jdbcType=BIGINT},
            </if>
            <if test="locationNo != null">
                #{locationNo,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.StorageGroupPO">
        update sm_storage_group
        <set>
            <if test="storageId != null">
                storage_id = #{storageId,jdbcType=BIGINT},
            </if>
            <if test="locationNo != null">
                location_no = #{locationNo,jdbcType=CHAR},
            </if>
        </set>
        where storage_group_id = #{storageGroupId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.StorageGroupPO">
        update sm_storage_group
        set storage_id  = #{storageId,jdbcType=BIGINT},
            location_no = #{locationNo,jdbcType=CHAR}
        where storage_group_id = #{storageGroupId,jdbcType=BIGINT}
    </update>
</mapper>