<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.wo.SlurryOrderMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.wo.SlurryOrderPO">
    <id column="slurry_id" jdbcType="BIGINT" property="slurryId" />
    <result column="slurry_no" jdbcType="CHAR" property="slurryNo" />
    <result column="plan_date" jdbcType="DATE" property="planDate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="finisher" jdbcType="BIGINT" property="finisher" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    slurry_id, slurry_no, plan_date, `status`, finish_time, remark, create_time, creator, 
    finisher, update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wo_slurry_order
    where slurry_id = #{slurryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wo_slurry_order
    where slurry_id = #{slurryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.wo.SlurryOrderPO">
    insert into wo_slurry_order (slurry_id, slurry_no, plan_date, 
      `status`, finish_time, remark, 
      create_time, creator, finisher, 
      update_time, dr)
    values (#{slurryId,jdbcType=BIGINT}, #{slurryNo,jdbcType=CHAR}, #{planDate,jdbcType=DATE}, 
      #{status,jdbcType=TINYINT}, #{finishTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, #{finisher,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.wo.SlurryOrderPO">
    insert into wo_slurry_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slurryId != null">
        slurry_id,
      </if>
      <if test="slurryNo != null">
        slurry_no,
      </if>
      <if test="planDate != null">
        plan_date,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="finisher != null">
        finisher,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slurryId != null">
        #{slurryId,jdbcType=BIGINT},
      </if>
      <if test="slurryNo != null">
        #{slurryNo,jdbcType=CHAR},
      </if>
      <if test="planDate != null">
        #{planDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="finisher != null">
        #{finisher,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.wo.SlurryOrderPO">
    update wo_slurry_order
    <set>
      <if test="slurryNo != null">
        slurry_no = #{slurryNo,jdbcType=CHAR},
      </if>
      <if test="planDate != null">
        plan_date = #{planDate,jdbcType=DATE},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="finisher != null">
        finisher = #{finisher,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where slurry_id = #{slurryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.wo.SlurryOrderPO">
    update wo_slurry_order
    set slurry_no = #{slurryNo,jdbcType=CHAR},
      plan_date = #{planDate,jdbcType=DATE},
      `status` = #{status,jdbcType=TINYINT},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      finisher = #{finisher,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where slurry_id = #{slurryId,jdbcType=BIGINT}
  </update>


  <resultMap id="BOSResultMap" type="com.smartindustry.common.bo.om.MixHeadBO" extends="BaseResultMap">
    <result column="slurry_id" jdbcType="BIGINT" property="slurryId"/>
    <result column="slurry_no" jdbcType="CHAR" property="slurryNo"/>
    <result column="plan_date" jdbcType="DATE" property="planDate"/>
    <collection property="bos" ofType="com.smartindustry.common.bo.om.MixBodyBO">
      <id column="slurry_material_id" jdbcType="BIGINT" property="slurryMaterialId"/>
      <result column="material_id" jdbcType="BIGINT" property="materialId"/>
      <result column="material_no" jdbcType="CHAR" property="materialNo"/>
      <result column="material_name" jdbcType="CHAR" property="materialName"/>
      <result column="material_model" jdbcType="CHAR" property="materialModel"/>
      <result column="plan_num" jdbcType="DECIMAL" property="planNum"/>
      <result column="measure_unit_name" jdbcType="CHAR" property="measureUnitName"/>
    </collection>
  </resultMap>
  <sql id="BOS_Column_List">
     so.slurry_id, so.slurry_no,so.plan_date, sm.slurry_material_id, sm.material_id, sm.plan_num, m.material_no, m.material_name, m.material_model,mu.measure_unit_name
  </sql>
  <select id="queryMix" resultMap="BOSResultMap">
    select
    <include refid="BOS_Column_List" />
    from wo_slurry_order so
    left join wo_slurry_material sm on so.slurry_id = sm.slurry_id
    left join si_material m on sm.material_id = m.material_id
    left join dd_measure_unit mu on m.measure_unit_id = mu.measure_unit_id
    where so.dr = 1 and date(so.finish_time) = curdate();
  </select>

  <select id="queryByMhid" resultType="java.math.BigDecimal">
    select sm.plan_num
    from wo_slurry_order so
    left join wo_slurry_material sm on so.slurry_id = sm.slurry_id
    where so.slurry_no = #{mixno,jdbcType=CHAR} and sm.material_id = #{mid,jdbcType=BIGINT}
  </select>

  <select id="queryTotal" parameterType="java.lang.String" resultType="java.math.BigDecimal">
    select sum(sm.plan_num)
    from wo_slurry_order so
    left join wo_slurry_material sm on so.slurry_id = sm.slurry_id
    where so.slurry_no = #{mixno,jdbcType=CHAR}
  </select>
</mapper>