<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.BomBodyMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.BomBodyPO">
    <id column="bom_body_id" jdbcType="BIGINT" property="bomBodyId" />
    <result column="bom_head_id" jdbcType="BIGINT" property="bomHeadId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_property_id" jdbcType="BIGINT" property="materialPropertyId" />
    <result column="material_demand" jdbcType="REAL" property="materialDemand" />
    <result column="demand_type" jdbcType="TINYINT" property="demandType" />
    <result column="material_loss" jdbcType="REAL" property="materialLoss" />
    <result column="loss_type" jdbcType="TINYINT" property="lossType" />
    <result column="process_id" jdbcType="BIGINT" property="processId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    bom_body_id, bom_head_id, material_id, material_property_id, material_demand, demand_type, 
    material_loss, loss_type, process_id, parent_id, user_id, `level`, create_time, update_time, 
    dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_bom_body
    where bom_body_id = #{bomBodyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_bom_body
    where bom_body_id = #{bomBodyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.BomBodyPO">
    insert into si_bom_body (bom_body_id, bom_head_id, material_id, 
      material_property_id, material_demand, demand_type, 
      material_loss, loss_type, process_id, 
      parent_id, user_id, `level`, 
      create_time, update_time, dr
      )
    values (#{bomBodyId,jdbcType=BIGINT}, #{bomHeadId,jdbcType=BIGINT}, #{materialId,jdbcType=BIGINT}, 
      #{materialPropertyId,jdbcType=BIGINT}, #{materialDemand,jdbcType=REAL}, #{demandType,jdbcType=TINYINT}, 
      #{materialLoss,jdbcType=REAL}, #{lossType,jdbcType=TINYINT}, #{processId,jdbcType=BIGINT}, 
      #{parentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.BomBodyPO">
    insert into si_bom_body
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bomBodyId != null">
        bom_body_id,
      </if>
      <if test="bomHeadId != null">
        bom_head_id,
      </if>
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialPropertyId != null">
        material_property_id,
      </if>
      <if test="materialDemand != null">
        material_demand,
      </if>
      <if test="demandType != null">
        demand_type,
      </if>
      <if test="materialLoss != null">
        material_loss,
      </if>
      <if test="lossType != null">
        loss_type,
      </if>
      <if test="processId != null">
        process_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bomBodyId != null">
        #{bomBodyId,jdbcType=BIGINT},
      </if>
      <if test="bomHeadId != null">
        #{bomHeadId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialPropertyId != null">
        #{materialPropertyId,jdbcType=BIGINT},
      </if>
      <if test="materialDemand != null">
        #{materialDemand,jdbcType=REAL},
      </if>
      <if test="demandType != null">
        #{demandType,jdbcType=TINYINT},
      </if>
      <if test="materialLoss != null">
        #{materialLoss,jdbcType=REAL},
      </if>
      <if test="lossType != null">
        #{lossType,jdbcType=TINYINT},
      </if>
      <if test="processId != null">
        #{processId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.BomBodyPO">
    update si_bom_body
    <set>
      <if test="bomHeadId != null">
        bom_head_id = #{bomHeadId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null">
        material_id = #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialPropertyId != null">
        material_property_id = #{materialPropertyId,jdbcType=BIGINT},
      </if>
      <if test="materialDemand != null">
        material_demand = #{materialDemand,jdbcType=REAL},
      </if>
      <if test="demandType != null">
        demand_type = #{demandType,jdbcType=TINYINT},
      </if>
      <if test="materialLoss != null">
        material_loss = #{materialLoss,jdbcType=REAL},
      </if>
      <if test="lossType != null">
        loss_type = #{lossType,jdbcType=TINYINT},
      </if>
      <if test="processId != null">
        process_id = #{processId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where bom_body_id = #{bomBodyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.BomBodyPO">
    update si_bom_body
    set bom_head_id = #{bomHeadId,jdbcType=BIGINT},
      material_id = #{materialId,jdbcType=BIGINT},
      material_property_id = #{materialPropertyId,jdbcType=BIGINT},
      material_demand = #{materialDemand,jdbcType=REAL},
      demand_type = #{demandType,jdbcType=TINYINT},
      material_loss = #{materialLoss,jdbcType=REAL},
      loss_type = #{lossType,jdbcType=TINYINT},
      process_id = #{processId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      `level` = #{level,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where bom_body_id = #{bomBodyId,jdbcType=BIGINT}
  </update>


  <!--  根据主BOM清单ID查询到所有的物料明细-->
  <select id="queryByBhid" parameterType="java.lang.Long" resultType="java.lang.Long">
    select bom_body_id
    from si_bom_body
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT} and dr = 1
  </select>

  <!--  根据主BOM清单ID查询到所有的物料明细-->
  <select id="queryBomBody" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from si_bom_body
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT} and dr = 1
  </select>

  <!--  批量删除-->
  <update id="deleteBatch" parameterType="java.util.List">
    <foreach collection="list" item="bbid" index="index" open="" close="" separator=";">
      update si_bom_body
      <set>
        dr = 2
      </set>
      <if test="bbid != null">
        where bom_body_id = #{bbid,jdbcType=BIGINT}
      </if>
    </foreach>
  </update>

  <update id="deleteBodyBatch" parameterType="java.util.List">
    <foreach collection="list" item="bbid" index="index" open="" close="" separator=";">
      update si_bom_body
      <set>
        dr = 2
      </set>
      where bom_body_id = #{bbid,jdbcType=BIGINT}
    </foreach>
  </update>

  <select id="queryChildren" parameterType="java.lang.Long" resultType="com.smartindustry.common.bo.si.BomHeadBO">
    select bb.bom_body_id as bomBodyId,bb.bom_head_id as bomHeadId,ma.material_id as materialId,ma.material_no as materialNo,ma.material_name as materialName,ma.material_model as materialModel,mp.material_property_name as materialPropertyName
    from si_bom_body bb
    left join si_material ma on bb.material_id = ma.material_id
    left join dd_material_property mp on bb.material_property_id = mp.material_property_id
    where bb.dr = 1 and bb.bom_head_id = #{bomHeadId,jdbcType=BIGINT}
    <choose>
      <when test="parentId != null and parentId !=''">
        and bb.parent_id = #{parentId,jdbcType=BIGINT}
      </when>
      <otherwise>
        and bb.parent_id is null
      </otherwise>
    </choose>
  </select>

  <!--  查看当前主BOM下是否已经存在当前物料的明细-->
  <select id="judgeHaveBody" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from si_bom_body
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT} and material_id = #{materialId,jdbcType=BIGINT} and dr = 1
  </select>

  <!--  查询物料明细列表-->
  <select id="pageQuery" parameterType="java.util.Map" resultType="com.smartindustry.common.bo.si.BomBodyBO">
    select bb.bom_body_Id as bomBodyId,m.material_id as materialId,m.material_no as materialNo,m.material_model as materialModel,m.material_name as materialName,s.supplier_name as supplierName,me.measure_unit_name as measureUnitName,bb.demand_type as demandType,bb.loss_type as lossType,
    mp.material_property_name as materialPropertyName,mp.material_property_id as materialPropertyId,bb.material_demand as materialDemand,bb.material_loss as materialLoss,pr.process_id as processId,pr.process_name as processName,m1.material_id as parentId,m1.material_no as parentName
    from si_bom_body bb
    left join si_material m on bb.material_id = m.material_id
    left join si_material m1 on bb.parent_id = m1.material_id
    left join dd_material_property mp on bb.material_property_id = mp.material_property_id
    left join dd_process pr on bb.process_id = pr.process_id
    left join si_supplier s on m.supplier_id = s.supplier_id
    left join dd_measure_unit me on m.measure_unit_id = me.measure_unit_id
    where bb.dr = 1 and bb.bom_head_id = #{bhid,jdbcType=BIGINT}
    order by bb.create_time desc
 </select>

  <!--  根据上级物料id查询bbid-->
  <select id="queryParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from si_bom_body
    where dr = 1
    <if test="parentId != null and parentId !=''">
      and bom_body_id = #{parentId,jdbcType=BIGINT}
    </if>
    limit 1
  </select>
</mapper>