<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.BomHeadMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.BomHeadPO">
    <id column="bom_head_id" jdbcType="BIGINT" property="bomHeadId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="relate_num" jdbcType="INTEGER" property="relateNum" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    bom_head_id, material_id, relate_num, user_id, create_time, update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_bom_head
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_bom_head
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.BomHeadPO">
    insert into si_bom_head (bom_head_id, material_id, relate_num, 
      user_id, create_time, update_time, 
      dr)
    values (#{bomHeadId,jdbcType=BIGINT}, #{materialId,jdbcType=BIGINT}, #{relateNum,jdbcType=INTEGER}, 
      #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.BomHeadPO">
    insert into si_bom_head
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bomHeadId != null">
        bom_head_id,
      </if>
      <if test="materialId != null">
        material_id,
      </if>
      <if test="relateNum != null">
        relate_num,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bomHeadId != null">
        #{bomHeadId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="relateNum != null">
        #{relateNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.BomHeadPO">
    update si_bom_head
    <set>
      <if test="materialId != null">
        material_id = #{materialId,jdbcType=BIGINT},
      </if>
      <if test="relateNum != null">
        relate_num = #{relateNum,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.BomHeadPO">
    update si_bom_head
    set material_id = #{materialId,jdbcType=BIGINT},
      relate_num = #{relateNum,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </update>

<!--  物料清单管理分页查询-->
  <select id="pageQuery" parameterType="java.util.Map" resultType="com.smartindustry.common.bo.si.BomHeadBO">
    select bh.bom_head_id as bomHeadId,bh.material_id as materialId,bh.relate_num as relateNum,ma.material_no as materialNo,ma.material_name as materialName,ma.material_model as materialModel,ma.material_desc as materialDesc,ml.material_level_name as materialLevelName
    from si_bom_head bh
    left join si_material ma on bh.material_id = ma.material_id
    left join dd_material_level ml on ma.material_level_id = ml.material_level_id
    where bh.dr = 1
    <if test="mno != null and mno != ''">
      and ma.material_no like concat('%',#{mno,jdbcType=VARCHAR},'%')
    </if>
    <if test="mname != null and mname != ''">
      and ma.material_name like concat('%',#{mname,jdbcType=VARCHAR},'%')
    </if>
    <if test="mdesc != null and mdesc != ''">
      and ma.material_desc like concat('%',#{mdesc,jdbcType=VARCHAR},'%')
    </if>
    order by bh.create_time desc
  </select>

<!--  判断当前物料是够已经生成主BOM清单-->
  <select id="judgeHaveBom" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from si_bom_head
    where material_id = #{materialId,jdbcType=BIGINT} and dr = 1
  </select>

<!--  根据主BOM清单ID查询详细的物料信息-->
  <select id="queryMainMaterial" parameterType="java.lang.Long" resultType="com.smartindustry.common.bo.si.BomHeadBO">
    select bh.bom_head_id as bomHeadId,bh.material_id as materialId,ma.material_no as materialNo,ma.material_name as materialName,ma.material_model as materialModel
    from si_bom_head bh
    left join si_material ma on bh.material_id = ma.material_id
    where bh.dr = 1 and bh.bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </select>

<!--  根据bhid删除主物料，假删-->
  <update id="deleteBom" parameterType="java.lang.Long">
    update si_bom_head
    set dr = #{dr,jdbcType=TINYINT}
    where bom_head_id = #{bomHeadId,jdbcType=BIGINT}
  </update>
</mapper>