<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.ClientMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.ClientPO">
    <id column="client_id" jdbcType="BIGINT" property="clientId" />
    <result column="client_no" jdbcType="CHAR" property="clientNo" />
    <result column="client_type_id" jdbcType="BIGINT" property="clientTypeId" />
    <result column="client_name" jdbcType="CHAR" property="clientName" />
    <result column="contact" jdbcType="CHAR" property="contact" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="CHAR" property="email" />
    <result column="fax" jdbcType="CHAR" property="fax" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="credit_level_id" jdbcType="BIGINT" property="creditLevelId" />
    <result column="area" jdbcType="CHAR" property="area" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    client_id, client_no, client_type_id, client_name, contact, sex, phone, telephone, 
    email, fax, url, credit_level_id, area, address, remark, create_time, update_time, 
    dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_client
    where client_id = #{clientId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_client
    where client_id = #{clientId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.ClientPO">
    insert into si_client (client_id, client_no, client_type_id, 
      client_name, contact, sex, 
      phone, telephone, email, 
      fax, url, credit_level_id, area, 
      address, remark, create_time, 
      update_time, dr)
    values (#{clientId,jdbcType=BIGINT}, #{clientNo,jdbcType=CHAR}, #{clientTypeId,jdbcType=BIGINT}, 
      #{clientName,jdbcType=CHAR}, #{contact,jdbcType=CHAR}, #{sex,jdbcType=TINYINT}, 
      #{phone,jdbcType=CHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=CHAR}, 
      #{fax,jdbcType=CHAR}, #{url,jdbcType=CHAR}, #{creditLevelId,jdbcType=BIGINT}, #{area,jdbcType=CHAR}, 
      #{address,jdbcType=CHAR}, #{remark,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.ClientPO">
    insert into si_client
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        client_id,
      </if>
      <if test="clientNo != null">
        client_no,
      </if>
      <if test="clientTypeId != null">
        client_type_id,
      </if>
      <if test="clientName != null">
        client_name,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="creditLevelId != null">
        credit_level_id,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clientId != null">
        #{clientId,jdbcType=BIGINT},
      </if>
      <if test="clientNo != null">
        #{clientNo,jdbcType=CHAR},
      </if>
      <if test="clientTypeId != null">
        #{clientTypeId,jdbcType=BIGINT},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=CHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=CHAR},
      </if>
      <if test="creditLevelId != null">
        #{creditLevelId,jdbcType=BIGINT},
      </if>
      <if test="area != null">
        #{area,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.ClientPO">
    update si_client
    <set>
      <if test="clientNo != null">
        client_no = #{clientNo,jdbcType=CHAR},
      </if>
      <if test="clientTypeId != null">
        client_type_id = #{clientTypeId,jdbcType=BIGINT},
      </if>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=CHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=CHAR},
      </if>
      <if test="creditLevelId != null">
        credit_level_id = #{creditLevelId,jdbcType=BIGINT},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where client_id = #{clientId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.ClientPO">
    update si_client
    set client_no = #{clientNo,jdbcType=CHAR},
      client_type_id = #{clientTypeId,jdbcType=BIGINT},
      client_name = #{clientName,jdbcType=CHAR},
      contact = #{contact,jdbcType=CHAR},
      sex = #{sex,jdbcType=TINYINT},
      phone = #{phone,jdbcType=CHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=CHAR},
      fax = #{fax,jdbcType=CHAR},
      url = #{url,jdbcType=CHAR},
      credit_level_id = #{creditLevelId,jdbcType=BIGINT},
      area = #{area,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where client_id = #{clientId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" parameterType="java.util.List" keyProperty="clientId" useGeneratedKeys="true">
    insert into si_client (client_id ,  client_no, client_type_id, client_name, contact,  phone, email, fax,
    url, address, remark, create_time, dr) values
    <foreach collection="list" item = "po" separator=",">
      (#{po.clientId,jdbcType=CHAR}, #{po.clientNo,jdbcType=CHAR}, #{po.clientTypeId,jdbcType=BIGINT},  #{po.clientName,jdbcType=CHAR}, #{po.contact,jdbcType=CHAR},   #{po.phone,jdbcType=CHAR}, #{po.email,jdbcType=CHAR}, #{po.fax,jdbcType=CHAR}, #{po.url,jdbcType=CHAR}, #{po.address,jdbcType=CHAR},
      #{po.remark,jdbcType=CHAR}, #{po.createTime,jdbcType=TIMESTAMP},      #{po.dr,jdbcType=TINYINT})
    </foreach>
  </insert>

  <select id="queryByClientNo" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
     from si_client where client_no = #{clientNo, jdbcType=CHAR} limit 1
  </select>

  <select id="pageQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from si_client c where dr = 1
    <if test="cno != null and cno != ''">and c.client_no like '%' #{cno,jdbcType=CHAR} '%'</if>
    <if test="cname != null and cname != ''">and c.client_name like '%' #{cname,jdbcType=CHAR} '%'</if>
  </select>

  <update id="batchDelete" parameterType="java.util.List">
    update si_client
    set dr = 2 where client_id in
    <foreach collection="list" item="cid" open="(" separator="," close=")">
      #{cid,jdbcType=BIGINT}
    </foreach>
  </update>

  <resultMap id="BOBaseResult" type="com.smartindustry.common.bo.si.ClientBO" extends="BaseResultMap">
    <result column="credit_level_name" jdbcType="CHAR" property="creditLevelName"/>
    <result column="client_type_name" jdbcType="CHAR" property="clientTypeName"/>
  </resultMap>
  <sql id="BO_Column_List">
    c.client_id, c.client_no, c.client_type_id, c.client_name, c.contact, c.sex, c.phone, c.email, c.fax,
    c.url, c.credit_level_id, c.area, c.address, c.remark, c.create_time, c.update_time, c.dr,cl.credit_level_name,ct.client_type_name
  </sql>
  <select id="queryByCid" parameterType="java.lang.Long" resultMap="BOBaseResult">
    select
    <include refid="BO_Column_List"/>
    from si_client c
    left join dd_credit_level cl on c.credit_level_id = cl.credit_level_id
    left join dd_client_type ct on c.client_type_id = ct.client_type_id
    where c.dr = 1 and c.client_id = #{clientId,jdbcType=BIGINT}
  </select>


</mapper>