<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.ConfigMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.ConfigPO">
        <id column="config_id" jdbcType="BIGINT" property="configId"/>
        <result column="config_key" jdbcType="CHAR" property="configKey"/>
        <result column="config_value" jdbcType="CHAR" property="configValue"/>
    </resultMap>
    <sql id="Base_Column_List">
        config_id, config_key, config_value
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_config
        where config_id = #{configId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from si_config
        where config_id = #{configId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.si.ConfigPO">
        insert into si_config (config_id, config_key, config_value)
        values (#{configId,jdbcType=BIGINT}, #{configKey,jdbcType=CHAR}, #{configValue,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.ConfigPO">
        insert into si_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="configId != null">
                config_id,
            </if>
            <if test="configKey != null">
                config_key,
            </if>
            <if test="configValue != null">
                config_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="configId != null">
                #{configId,jdbcType=BIGINT},
            </if>
            <if test="configKey != null">
                #{configKey,jdbcType=CHAR},
            </if>
            <if test="configValue != null">
                #{configValue,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.ConfigPO">
        update si_config
        <set>
            <if test="configKey != null">
                config_key = #{configKey,jdbcType=CHAR},
            </if>
            <if test="configValue != null">
                config_value = #{configValue,jdbcType=CHAR},
            </if>
        </set>
        where config_id = #{configId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.ConfigPO">
        update si_config
        set config_key   = #{configKey,jdbcType=CHAR},
            config_value = #{configValue,jdbcType=CHAR}
        where config_id = #{configId,jdbcType=BIGINT}
    </update>

    <select id="queryByKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_config
        where config_key = #{key,jdbcType=CHAR}
    </select>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update si_config
            <set >
                <if test="item.configValue != null">
                    config_value = #{item.configValue,jdbcType=CHAR},
                </if>
            </set>
            <if test="item.configKey != null">
                where config_key   = #{item.configKey,jdbcType=CHAR}
            </if>
        </foreach>
    </update>

</mapper>