<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.LocationRecordMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.LocationRecordPO">
    <id column="location_record_id" jdbcType="BIGINT" property="locationRecordId" />
    <result column="location_id" jdbcType="BIGINT" property="locationId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operation_name" jdbcType="CHAR" property="operationName" />
  </resultMap>
  <sql id="Base_Column_List">
    location_record_id, location_id, user_id, create_time, operation_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_location_record
    where location_record_id = #{locationRecordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_location_record
    where location_record_id = #{locationRecordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.LocationRecordPO">
    insert into si_location_record (location_record_id, location_id, user_id, 
      create_time, operation_name)
    values (#{locationRecordId,jdbcType=BIGINT}, #{locationId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operationName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.LocationRecordPO">
    insert into si_location_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="locationRecordId != null">
        location_record_id,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operationName != null">
        operation_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="locationRecordId != null">
        #{locationRecordId,jdbcType=BIGINT},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationName != null">
        #{operationName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.LocationRecordPO">
    update si_location_record
    <set>
      <if test="locationId != null">
        location_id = #{locationId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationName != null">
        operation_name = #{operationName,jdbcType=CHAR},
      </if>
    </set>
    where location_record_id = #{locationRecordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.LocationRecordPO">
    update si_location_record
    set location_id = #{locationId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operation_name = #{operationName,jdbcType=CHAR}
    where location_record_id = #{locationRecordId,jdbcType=BIGINT}
  </update>

  <select id="listByLocatonID" parameterType="java.lang.Long" resultType="com.smartindustry.common.bo.si.LocationRecordBO">
    select u.name,lc.operation_name as operationName,lc.create_time as  createTime from
    si_location_record lc left join am_user u on lc.user_id=u.user_id
    where lc.location_id=#{lid}
  </select>
</mapper>