<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.MaterialMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.MaterialPO">
    <id column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="material_no" jdbcType="CHAR" property="materialNo" />
    <result column="material_type" jdbcType="TINYINT" property="materialType" />
    <result column="material_name" jdbcType="CHAR" property="materialName" />
    <result column="material_level" jdbcType="CHAR" property="materialLevel" />
    <result column="material_model" jdbcType="CHAR" property="materialModel" />
    <result column="measure_unit_id" jdbcType="BIGINT" property="measureUnitId" />
    <result column="package_volume" jdbcType="DECIMAL" property="packageVolume" />
    <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="material_desc" jdbcType="CHAR" property="materialDesc" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    material_id, material_no, material_type, material_name, material_level, material_model, 
    measure_unit_id, package_volume, supplier_id, material_desc, user_id, create_time, 
    update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_material
    where material_id = #{materialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_material
    where material_id = #{materialId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.MaterialPO">
    insert into si_material (material_id, material_no, material_type, 
      material_name, material_level, material_model, 
      measure_unit_id, package_volume, supplier_id, 
      material_desc, user_id, create_time, 
      update_time, dr)
    values (#{materialId,jdbcType=BIGINT}, #{materialNo,jdbcType=CHAR}, #{materialType,jdbcType=TINYINT}, 
      #{materialName,jdbcType=CHAR}, #{materialLevel,jdbcType=CHAR}, #{materialModel,jdbcType=CHAR}, 
      #{measureUnitId,jdbcType=BIGINT}, #{packageVolume,jdbcType=DECIMAL}, #{supplierId,jdbcType=BIGINT}, 
      #{materialDesc,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.MaterialPO">
    insert into si_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        material_id,
      </if>
      <if test="materialNo != null">
        material_no,
      </if>
      <if test="materialType != null">
        material_type,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="materialLevel != null">
        material_level,
      </if>
      <if test="materialModel != null">
        material_model,
      </if>
      <if test="measureUnitId != null">
        measure_unit_id,
      </if>
      <if test="packageVolume != null">
        package_volume,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="materialDesc != null">
        material_desc,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialNo != null">
        #{materialNo,jdbcType=CHAR},
      </if>
      <if test="materialType != null">
        #{materialType,jdbcType=TINYINT},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=CHAR},
      </if>
      <if test="materialLevel != null">
        #{materialLevel,jdbcType=CHAR},
      </if>
      <if test="materialModel != null">
        #{materialModel,jdbcType=CHAR},
      </if>
      <if test="measureUnitId != null">
        #{measureUnitId,jdbcType=BIGINT},
      </if>
      <if test="packageVolume != null">
        #{packageVolume,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="materialDesc != null">
        #{materialDesc,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.MaterialPO">
    update si_material
    <set>
      <if test="materialNo != null">
        material_no = #{materialNo,jdbcType=CHAR},
      </if>
      <if test="materialType != null">
        material_type = #{materialType,jdbcType=TINYINT},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=CHAR},
      </if>
      <if test="materialLevel != null">
        material_level = #{materialLevel,jdbcType=CHAR},
      </if>
      <if test="materialModel != null">
        material_model = #{materialModel,jdbcType=CHAR},
      </if>
      <if test="measureUnitId != null">
        measure_unit_id = #{measureUnitId,jdbcType=BIGINT},
      </if>
      <if test="packageVolume != null">
        package_volume = #{packageVolume,jdbcType=DECIMAL},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="materialDesc != null">
        material_desc = #{materialDesc,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.MaterialPO">
    update si_material
    set material_no = #{materialNo,jdbcType=CHAR},
      material_type = #{materialType,jdbcType=TINYINT},
      material_name = #{materialName,jdbcType=CHAR},
      material_level = #{materialLevel,jdbcType=CHAR},
      material_model = #{materialModel,jdbcType=CHAR},
      measure_unit_id = #{measureUnitId,jdbcType=BIGINT},
      package_volume = #{packageVolume,jdbcType=DECIMAL},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      material_desc = #{materialDesc,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>

  <select id="pageQueryStorage" parameterType="java.util.Map" resultType="com.smartindustry.common.bo.si.MaterialBO">
    select m.material_id as materialId,m.material_no as materialNo,m.material_model as materialModel,m.material_name as materialName,s.supplier_name as supplierName, mu.measure_unit_name as measureUnitName
    from si_material m
    left join si_supplier s on m.supplier_id = s.supplier_id
    left join dd_measure_unit mu on m.measure_unit_id = mu.measure_unit_id
    where m.dr = 1
    <if test="sname != null and sname != ''">and s.supplier_name like '%' #{sname,jdbcType=CHAR} '%'</if>
    <if test="mname != null and mname != ''">and m.material_name like '%' #{mname,jdbcType=CHAR} '%'</if>
    <if test="mmodel != null and mmodel != ''">and m.material_model like '%' #{mmodel,jdbcType=CHAR} '%'</if>
    <if test="mno != null and mno != ''">and m.material_no like '%' #{mno,jdbcType=CHAR} '%'</if>
    <if test="mdesc != null and mdesc != ''">and m.material_desc like '%' #{mno,jdbcType=CHAR} '%'</if>
    <if test="ctime != null">
      and m.create_time &gt; #{ctime, jdbcType=TIMESTAMP}
    </if>
    order by m.create_time desc
  </select>

    <select id="queryByMaterialNo" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from si_material where material_no = #{materialNo, jdbcType=CHAR} and material_name = #{materialName, jdbcType=CHAR}
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into si_material (  material_no, material_type, material_name,material_model,     measure_unit_id, material_desc, user_id, create_time,   dr) values
        <foreach collection="list" item = "po" separator=",">
          (  #{po.materialNo,jdbcType=CHAR}, #{po.materialType,jdbcType=TINYINT},#{po.materialName,jdbcType=CHAR}, #{po.materialModel,jdbcType=CHAR}, #{po.measureUnitId,jdbcType=BIGINT}, #{po.materialDesc,jdbcType=CHAR}, #{po.userId,jdbcType=BIGINT}, #{po.createTime,jdbcType=TIMESTAMP},#{po.dr,jdbcType=TINYINT})
        </foreach>
    </insert>

  <select id="queryByMno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from si_material
    where dr = 1 and material_no = #{mno,jdbcType=CHAR}
  </select>

  <update id="batchDelete" parameterType="java.util.List">
    update si_material
    set dr = 2 where material_id in
    <foreach collection="list" item="mid" open="(" separator="," close=")">
      #{mid,jdbcType=BIGINT}
    </foreach>
  </update>
  <resultMap id="BOResultMap" type="com.smartindustry.common.bo.si.MaterialBO" extends="BaseResultMap">
    <result column="material_type_name" jdbcType="CHAR" property="materialTypeName"/>
    <result column="humidity_level_name" jdbcType="CHAR" property="humidityLevelName"/>
    <result column="material_level_name" jdbcType="CHAR" property="materialLevelName"/>
    <result column="measure_unit_name" jdbcType="CHAR" property="measureUnitName"/>
    <result column="material_version_name" jdbcType="CHAR" property="materialVersionName"/>
    <result column="produce_loss_level_name" jdbcType="CHAR" property="produceLossLevelName"/>
    <result column="life_cycle_state_name" jdbcType="CHAR" property="lifeCycleStateName"/>
    <result column="supplier_name" jdbcType="CHAR" property="supplierName"/>
    <collection property="files" ofType="com.smartindustry.common.pojo.si.MaterialSpecificationPO">
      <id column="material_specification_id" jdbcType="BIGINT" property="materialSpecificationId"/>
      <result column="file_name" jdbcType="CHAR" property="fileName"/>
      <result column="file_path" jdbcType="CHAR" property="filePath"/>
    </collection>
  </resultMap>
  <sql id="BO_Column_List">
        m.material_id, m.material_no, m.material_type, m.material_type_id, m.humidity_level_id, m.material_level_id,
    m.measure_unit_id,  m.material_version_id, m.produce_loss_level_id, m.life_cycle_state_id,
    m.material_name, m.delivery_days, m.moq, m.material_model, m.material_draw, m.supplier_id, m.material_desc,
    m.test_type, m.user_id, m.create_time, m.update_time, m.dr,
    mt.material_type_name, hl.humidity_level_name, ml.material_level_name, mu.measure_unit_name, mv.material_version_name,
    pll.produce_loss_level_name, lcs.life_cycle_state_name, s.supplier_name
    </sql>
  <select id="queryByMid" parameterType="java.lang.Long" resultMap="BOResultMap">
    select
    <include refid="BO_Column_List"/>,
    ms.material_specification_id, ms.file_name, ms.file_path
    from si_material m
    left join dd_material_type mt on m.material_type_id = mt.material_type_id
    left join dd_humidity_level hl on m.humidity_level_id = hl.humidity_level_id
    left join dd_material_level ml on m.material_level_id = ml.material_level_id
    left join dd_measure_unit mu on m.measure_unit_id = mu.measure_unit_id
    left join dd_material_version mv on m.material_version_id = mv.material_version_id
    left join dd_produce_loss_level pll on m.produce_loss_level_id = pll.produce_loss_level_id
    left join dd_life_cycle_state lcs on m.life_cycle_state_id = lcs.life_cycle_state_id
    left join si_supplier s on m.supplier_id = s.supplier_id
    left join si_material_specification ms on m.material_id = ms.material_id
    where m.dr = 1 and m.material_id = #{mid,jdbcType=BIGINT}
  </select>

  <select id="queryBySids" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from si_material
    where dr = 1 and supplier_id in
    <foreach collection="list" item="sid" separator="," open="(" close=")">
      #{sid,jdbcType=BIGINT}
    </foreach>
  </select>

  <select id="queryByMuid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from si_material
    where dr = 1 and measure_unit_id = #{muid,jdbcType=BIGINT}
  </select>

</mapper>