<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.StorageLabelMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.StorageLabelPO">
        <id column="storage_label_id" jdbcType="BIGINT" property="storageLabelId"/>
        <result column="print_label_id" jdbcType="BIGINT" property="printLabelId"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
        <result column="location_id" jdbcType="BIGINT" property="locationId"/>
        <result column="package_id" jdbcType="CHAR" property="packageId"/>
        <result column="source_no" jdbcType="CHAR" property="sourceNo"/>
        <result column="source_type" jdbcType="TINYINT" property="sourceType"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="storage_num" jdbcType="INTEGER" property="storageNum"/>
        <result column="storage_time" jdbcType="TIMESTAMP" property="storageTime"/>
        <result column="material_lock_id" jdbcType="BIGINT" property="materialLockId"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        storage_label_id, print_label_id, material_id, location_id, package_id, source_no,
    source_type, `type`, storage_num, storage_time, material_lock_id, `status`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_storage_label
        where storage_label_id = #{storageLabelId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from si_storage_label
        where storage_label_id = #{storageLabelId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.si.StorageLabelPO">
        insert into si_storage_label (storage_label_id, print_label_id, material_id,
                                      location_id, package_id, source_no,
                                      source_type, `type`, storage_num,
                                      storage_time, material_lock_id, `status`)
        values (#{storageLabelId,jdbcType=BIGINT}, #{printLabelId,jdbcType=BIGINT}, #{materialId,jdbcType=BIGINT},
                #{locationId,jdbcType=BIGINT}, #{packageId,jdbcType=CHAR}, #{sourceNo,jdbcType=CHAR},
                #{sourceType,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, #{storageNum,jdbcType=INTEGER},
                #{storageTime,jdbcType=TIMESTAMP}, #{materialLockId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.StorageLabelPO">
        insert into si_storage_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storageLabelId != null">
                storage_label_id,
            </if>
            <if test="printLabelId != null">
                print_label_id,
            </if>
            <if test="materialId != null">
                material_id,
            </if>
            <if test="locationId != null">
                location_id,
            </if>
            <if test="packageId != null">
                package_id,
            </if>
            <if test="sourceNo != null">
                source_no,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="storageNum != null">
                storage_num,
            </if>
            <if test="storageTime != null">
                storage_time,
            </if>
            <if test="materialLockId != null">
                material_lock_id,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storageLabelId != null">
                #{storageLabelId,jdbcType=BIGINT},
            </if>
            <if test="printLabelId != null">
                #{printLabelId,jdbcType=BIGINT},
            </if>
            <if test="materialId != null">
                #{materialId,jdbcType=BIGINT},
            </if>
            <if test="locationId != null">
                #{locationId,jdbcType=BIGINT},
            </if>
            <if test="packageId != null">
                #{packageId,jdbcType=CHAR},
            </if>
            <if test="sourceNo != null">
                #{sourceNo,jdbcType=CHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="storageNum != null">
                #{storageNum,jdbcType=INTEGER},
            </if>
            <if test="storageTime != null">
                #{storageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="materialLockId != null">
                #{materialLockId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.StorageLabelPO">
        update si_storage_label
        <set>
            <if test="printLabelId != null">
                print_label_id = #{printLabelId,jdbcType=BIGINT},
            </if>
            <if test="materialId != null">
                material_id = #{materialId,jdbcType=BIGINT},
            </if>
            <if test="locationId != null">
                location_id = #{locationId,jdbcType=BIGINT},
            </if>
            <if test="packageId != null">
                package_id = #{packageId,jdbcType=CHAR},
            </if>
            <if test="sourceNo != null">
                source_no = #{sourceNo,jdbcType=CHAR},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=TINYINT},
            </if>
            <if test="storageNum != null">
                storage_num = #{storageNum,jdbcType=INTEGER},
            </if>
            <if test="storageTime != null">
                storage_time = #{storageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="materialLockId != null">
                material_lock_id = #{materialLockId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
        </set>
        where storage_label_id = #{storageLabelId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.StorageLabelPO">
        update si_storage_label
        set print_label_id   = #{printLabelId,jdbcType=BIGINT},
            material_id      = #{materialId,jdbcType=BIGINT},
            location_id      = #{locationId,jdbcType=BIGINT},
            package_id       = #{packageId,jdbcType=CHAR},
            source_no        = #{sourceNo,jdbcType=CHAR},
            source_type      = #{sourceType,jdbcType=TINYINT},
            `type`           = #{type,jdbcType=TINYINT},
            storage_num      = #{storageNum,jdbcType=INTEGER},
            storage_time     = #{storageTime,jdbcType=TIMESTAMP},
            material_lock_id = #{materialLockId,jdbcType=BIGINT},
            `status`         = #{status,jdbcType=TINYINT}
        where storage_label_id = #{storageLabelId,jdbcType=BIGINT}
    </update>

    <select id="queryByLids" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_storage_label
        where location_id in
        <foreach collection="list" item="lid" open="(" separator="," close=")">
            #{lid,jdbcType=BIGINT}
        </foreach>
    </select>

    <resultMap id="BOResultMap" type="com.smartindustry.common.bo.si.StorageLabelBO" extends="BaseResultMap">
        <result column="location_no" jdbcType="CHAR" property="locationNo"/>
    </resultMap>
    <sql id="BO_Column_List">
        sl.storage_label_id, sl.print_label_id, sl.material_id, sl.location_id, sl.package_id, sl.source_no,
    sl.source_type, sl.`type`, sl.storage_num, sl.storage_time, sl.material_lock_id, sl.`status`,
    l.location_no
    </sql>

    <resultMap id="IMBOResultMap" type="com.smartindustry.common.bo.si.StorageLabelBO" extends="BOResultMap">
        <result column="material_no" jdbcType="CHAR" property="materialNo"/>
        <result column="material_name" jdbcType="CHAR" property="materialName"/>
        <result column="material_type" jdbcType="TINYINT" property="materialType"/>
        <result column="material_model" jdbcType="CHAR" property="materialModel"/>
        <result column="warehouse_name" jdbcType="CHAR" property="warehouseName"/>
        <result column="material_lock_name" jdbcType="CHAR" property="materialLockName"/>
        <result column="supplier_name" jdbcType="CHAR" property="supplierName"/>
        <result column="produce_batch" jdbcType="CHAR" property="produceBatch"/>
    </resultMap>
    <sql id="IMBO_Column_List">
        sl.storage_label_id, sl.print_label_id, sl.material_id, sl.location_id, sl.package_id, sl.source_no,
    sl.source_type, sl.`type`, sl.storage_num, sl.storage_time, sl.material_lock_id, sl.`status`,
    l.location_no,
    m.material_no, m.material_name, m.material_type, m.material_model,
    w.warehouse_name,
    ml.material_lock_name,
    s.supplier_name,
    pl.produce_batch
    </sql>
    <select id="pageQuery" parameterType="java.util.Map" resultMap="IMBOResultMap">
        select
        <include refid="IMBO_Column_List"/>
        from si_storage_label sl
        left join si_material m on sl.material_id = m.material_id
        left join si_location l on sl.location_id = l.location_id
        left join si_warehouse w on l.warehouse_id = w.warehouse_id
        left join dd_material_lock ml on sl.material_lock_id = ml.material_lock_id
        left join si_supplier s on m.supplier_id = s.supplier_id
        left join si_print_label pl on sl.print_label_id = pl.print_label_id
        <where>
            <if test="keyword != null and keyword != ''">
                and (m.material_no like '%' #{keyword,jdbcType=CHAR} '%'
                or m.material_name like '%' #{keyword,jdbcType=CHAR} '%'
                or sl.package_id like '%' #{keyword,jdbcType=CHAR} '%')
            </if>
            <if test="pbatch != null and pbatch != ''">
                and pl.produce_batch like '%' #{pbatch,jdbcType=CHAR} '%'
            </if>
            <if test="wid != null and wid != 0">
                and w.warehouse_id = #{wid,jdbcType=BIGINT}
            </if>
            <if test="lid != null and lid != 0">
                and l.location_id = #{lid,jdbcType=BIGINT}
            </if>
            <if test="sname != null and sname != ''">
                and s.supplier_name like '%' #{sname,jdbcType=CHAR} '%'
            </if>
            <if test="mstatus != null and mstatus == 2">
                and sl.material_lock_id is not null
            </if>
            <if test="mstatus != null and mstatus == 1">
                and sl.material_lock_id is null
            </if>
            <if test="mtype == null or mtype == '' or mtype == 0">
                and m.material_type != 3
            </if>
            <if test="mtype != null and mtype != 0">
                and m.material_type = #{mtype,jdbcType=TINYINT}
            </if>
        </where>
        order by sl.storage_time desc
    </select>

    <select id="queryNotRecommend" resultMap="BOResultMap">
        select
        <include refid="BO_Column_List"/>
        from si_storage_label sl
        left join si_print_label pl on sl.print_label_id = pl.print_label_id
        left join si_location l on sl.location_id = l.location_id
        where sl.material_id = #{materialId,jdbcType=BIGINT} and sl.type = 1 and sl.material_lock_id is null
        and sl.`status` = 1 and pl.dr = 1
        <if test="orderNo != null and orderNo != ''">
            and sl.source_no = #{orderNo,jdbcType=CHAR}
        </if>
        order by pl.create_time asc
    </select>
    <insert id="batchInsert" parameterType="java.util.List">
        insert into si_storage_label (storage_label_id, print_label_id, material_id,
        location_id, package_id, source_no,
        source_type, `type`, storage_num,
        storage_time, material_lock_id, `status`)
        values
        <foreach collection="list" separator="," item="po">
            (#{po.storageLabelId,jdbcType=BIGINT}, #{po.printLabelId,jdbcType=BIGINT}, #{po.materialId,jdbcType=BIGINT},
            #{po.locationId,jdbcType=BIGINT}, #{po.packageId,jdbcType=CHAR}, #{po.sourceNo,jdbcType=CHAR},
            #{po.sourceType,jdbcType=TINYINT}, #{po.type,jdbcType=TINYINT}, #{po.storageNum,jdbcType=INTEGER},
            #{po.storageTime,jdbcType=TIMESTAMP}, #{po.materialLockId,jdbcType=BIGINT}, #{po.status,jdbcType=TINYINT})
        </foreach>
    </insert>
    <delete id="deleteByPlids" parameterType="java.util.List">
        delete
        from si_storage_label
        where print_label_id in
        <foreach collection="list" item="plId" separator="," open="(" close=")">
            #{plId,jdbcType=BIGINT}
        </foreach>
    </delete>
    <update id="updateStatus">
        update si_storage_label
        set `status` = #{status,jdbcType=TINYINT}
        where storage_label_id in
        <foreach collection="slids" item="slid" open="(" separator="," close=")">
            #{slid,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="qureyBySlids" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_storage_label
        where storage_label_id in
        <foreach collection="list" item="slid" open="(" separator="," close=")">
            #{slid,jdbcType=BIGINT}
        </foreach>
    </select>
    <update id="updateMlid">
        update si_storage_label
        set material_lock_id = #{mlid,jdbcType=BIGINT}
        where storage_label_id in
        <foreach collection="slids" item="slid" open="(" separator="," close=")">
            #{slid,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="queryByMlid" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from si_storage_label
        where material_lock_id = #{mlid,jdbcType=BIGINT}
    </select>
</mapper>