<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.SupplierPO">
    <id column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="supplier_no" jdbcType="CHAR" property="supplierNo" />
    <result column="supplier_name" jdbcType="CHAR" property="supplierName" />
    <result column="contact_name" jdbcType="CHAR" property="contactName" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="fax" jdbcType="CHAR" property="fax" />
    <result column="site" jdbcType="CHAR" property="site" />
    <result column="mail" jdbcType="CHAR" property="mail" />
    <result column="area" jdbcType="CHAR" property="area" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    supplier_id, supplier_no, supplier_name, contact_name, phone, fax, site, mail, area, 
    address, remark, user_id, create_time, update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_supplier
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_supplier
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    insert into si_supplier (supplier_id, supplier_no, supplier_name, 
      contact_name, phone, fax, site, 
      mail, area, address, remark, 
      user_id, create_time, update_time, 
      dr)
    values (#{supplierId,jdbcType=BIGINT}, #{supplierNo,jdbcType=CHAR}, #{supplierName,jdbcType=CHAR}, 
      #{contactName,jdbcType=CHAR}, #{phone,jdbcType=CHAR}, #{fax,jdbcType=CHAR}, #{site,jdbcType=CHAR}, 
      #{mail,jdbcType=CHAR}, #{area,jdbcType=CHAR}, #{address,jdbcType=CHAR}, #{remark,jdbcType=CHAR}, 
      #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    insert into si_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierNo != null">
        supplier_no,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="site != null">
        site,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierNo != null">
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=CHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=CHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=CHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    update si_supplier
    <set>
      <if test="supplierNo != null">
        supplier_no = #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=CHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=CHAR},
      </if>
      <if test="site != null">
        site = #{site,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=CHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    update si_supplier
    set supplier_no = #{supplierNo,jdbcType=CHAR},
      supplier_name = #{supplierName,jdbcType=CHAR},
      contact_name = #{contactName,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      fax = #{fax,jdbcType=CHAR},
      site = #{site,jdbcType=CHAR},
      mail = #{mail,jdbcType=CHAR},
      area = #{area,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </update>

  <insert id="batchInsert" parameterType="java.util.List" keyProperty="supplierId" useGeneratedKeys="true">
    insert into si_supplier (supplier_id,   supplier_no, supplier_name,
    contact_name, phone, fax,     mail, area, address, remark,
    user_id, create_time, dr) values
    <foreach collection="list" item = "po" separator=",">
      ( #{po.supplierId,jdbcType=CHAR},#{po.supplierNo,jdbcType=CHAR}, #{po.supplierName,jdbcType=CHAR},
      #{po.contactName,jdbcType=CHAR}, #{po.phone,jdbcType=CHAR}, #{po.fax,jdbcType=CHAR},       #{po.mail,jdbcType=CHAR}, #{po.area,jdbcType=CHAR}, #{po.address,jdbcType=CHAR}, #{po.remark,jdbcType=CHAR},      #{po.userId,jdbcType=BIGINT}, #{po.createTime,jdbcType=TIMESTAMP},   #{po.dr,jdbcType=TINYINT})
    </foreach>
  </insert>

  <select id="queryBySno" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
     from si_supplier where supplier_no = #{supplierNo, jdbcType=CHAR}  limit 1
  </select>

  <select id="pageQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from si_supplier where dr = 1
    <if test="ctime != null">
      and create_time &gt; #{ctime, jdbcType=TIMESTAMP}
    </if>
  </select>

  <update id="batchDelete" parameterType="java.util.List">
    update si_supplier
    set dr = 2 where supplier_id in
    <foreach collection="list" item="sid" open="(" separator="," close=")">
      #{sid,jdbcType=BIGINT}
    </foreach>
  </update>

  <select id="queryAll" resultType="java.util.Map">
        select supplier_id as sid, supplier_name as sname
        from si_supplier
        where dr = 1
    </select>
</mapper>