<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.si.SupplierMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.si.SupplierPO">
    <id column="supplier_id" jdbcType="BIGINT" property="supplierId" />
    <result column="supplier_no" jdbcType="CHAR" property="supplierNo" />
    <result column="supplier_group_id" jdbcType="BIGINT" property="supplierGroupId" />
    <result column="cert_status_id" jdbcType="BIGINT" property="certStatusId" />
    <result column="supplier_type_id" jdbcType="BIGINT" property="supplierTypeId" />
    <result column="settle_period_id" jdbcType="BIGINT" property="settlePeriodId" />
    <result column="currency_id" jdbcType="BIGINT" property="currencyId" />
    <result column="supplier_name" jdbcType="CHAR" property="supplierName" />
    <result column="contact_name" jdbcType="CHAR" property="contactName" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="fax" jdbcType="CHAR" property="fax" />
    <result column="site" jdbcType="CHAR" property="site" />
    <result column="mail" jdbcType="CHAR" property="mail" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    supplier_id, supplier_no, supplier_group_id, cert_status_id, supplier_type_id, settle_period_id, 
    currency_id, supplier_name, contact_name, phone, fax, site, mail, address, remark, 
    user_id, create_time, update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_supplier
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from si_supplier
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    insert into si_supplier (supplier_id, supplier_no, supplier_group_id, 
      cert_status_id, supplier_type_id, settle_period_id, 
      currency_id, supplier_name, contact_name, 
      phone, fax, site, mail, 
      address, remark, user_id, create_time, 
      update_time, dr)
    values (#{supplierId,jdbcType=BIGINT}, #{supplierNo,jdbcType=CHAR}, #{supplierGroupId,jdbcType=BIGINT}, 
      #{certStatusId,jdbcType=BIGINT}, #{supplierTypeId,jdbcType=BIGINT}, #{settlePeriodId,jdbcType=BIGINT}, 
      #{currencyId,jdbcType=BIGINT}, #{supplierName,jdbcType=CHAR}, #{contactName,jdbcType=CHAR}, 
      #{phone,jdbcType=CHAR}, #{fax,jdbcType=CHAR}, #{site,jdbcType=CHAR}, #{mail,jdbcType=CHAR}, 
      #{address,jdbcType=CHAR}, #{remark,jdbcType=CHAR}, #{userId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    insert into si_supplier
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierNo != null">
        supplier_no,
      </if>
      <if test="supplierGroupId != null">
        supplier_group_id,
      </if>
      <if test="certStatusId != null">
        cert_status_id,
      </if>
      <if test="supplierTypeId != null">
        supplier_type_id,
      </if>
      <if test="settlePeriodId != null">
        settle_period_id,
      </if>
      <if test="currencyId != null">
        currency_id,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="site != null">
        site,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierNo != null">
        #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierGroupId != null">
        #{supplierGroupId,jdbcType=BIGINT},
      </if>
      <if test="certStatusId != null">
        #{certStatusId,jdbcType=BIGINT},
      </if>
      <if test="supplierTypeId != null">
        #{supplierTypeId,jdbcType=BIGINT},
      </if>
      <if test="settlePeriodId != null">
        #{settlePeriodId,jdbcType=BIGINT},
      </if>
      <if test="currencyId != null">
        #{currencyId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=CHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=CHAR},
      </if>
      <if test="site != null">
        #{site,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    update si_supplier
    <set>
      <if test="supplierNo != null">
        supplier_no = #{supplierNo,jdbcType=CHAR},
      </if>
      <if test="supplierGroupId != null">
        supplier_group_id = #{supplierGroupId,jdbcType=BIGINT},
      </if>
      <if test="certStatusId != null">
        cert_status_id = #{certStatusId,jdbcType=BIGINT},
      </if>
      <if test="supplierTypeId != null">
        supplier_type_id = #{supplierTypeId,jdbcType=BIGINT},
      </if>
      <if test="settlePeriodId != null">
        settle_period_id = #{settlePeriodId,jdbcType=BIGINT},
      </if>
      <if test="currencyId != null">
        currency_id = #{currencyId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=CHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=CHAR},
      </if>
      <if test="site != null">
        site = #{site,jdbcType=CHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.si.SupplierPO">
    update si_supplier
    set supplier_no = #{supplierNo,jdbcType=CHAR},
      supplier_group_id = #{supplierGroupId,jdbcType=BIGINT},
      cert_status_id = #{certStatusId,jdbcType=BIGINT},
      supplier_type_id = #{supplierTypeId,jdbcType=BIGINT},
      settle_period_id = #{settlePeriodId,jdbcType=BIGINT},
      currency_id = #{currencyId,jdbcType=BIGINT},
      supplier_name = #{supplierName,jdbcType=CHAR},
      contact_name = #{contactName,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      fax = #{fax,jdbcType=CHAR},
      site = #{site,jdbcType=CHAR},
      mail = #{mail,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      remark = #{remark,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where supplier_id = #{supplierId,jdbcType=BIGINT}
  </update>
</mapper>