<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.sqlserver.PurchaseErpMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.ds.sqlserver.PurchaseErpPO">
    <result column="ID" jdbcType="DOUBLE" property="purchaseId" />
    <result column="单号" jdbcType="NVARCHAR" property="purchaseNo" />
    <result column="供应商ID" jdbcType="DOUBLE" property="supplierId" />
    <result column="订单ID" jdbcType="DOUBLE" property="orderId" />
    <result column="订单号" jdbcType="NVARCHAR" property="orderNo" />
    <result column="编号" jdbcType="NVARCHAR" property="supplierNo" />
    <result column="仓库ID" jdbcType="DOUBLE" property="warehouseId" />
    <result column="日期" jdbcType="TIMESTAMP" property="acceptDate" />
    <result column="付款ID" jdbcType="DOUBLE" property="payMethod" />
    <result column="付款名称" jdbcType="NVARCHAR" property="payName" />
    <result column="备注" jdbcType="NVARCHAR" property="remark" />
    <result column="引用数量" jdbcType="DOUBLE" property="num" />
  </resultMap>
  <sql id="BO_Column_List">
    s.ID, s.单号,s.订单ID, s.订单号, s.供应商ID,s.仓库ID, s.日期, s.付款ID, s.付款名称, s.备注,s.引用数量,su.编号,m.物品编号,m.物品名称,
    d.ID as detail_id, d.到货ID, d.物品ID,  d.数量, d.单价, d.金额, d.不含税单价, d.不含税金额, d.备注 as remark
  </sql>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="ID">
    insert into dto.采购到货 (单号,订单ID,订单号,供应商ID,日期,付款ID, 付款名称, 备注,引用数量) values
    <foreach collection="list" item="po" separator=",">
      (#{po.purchaseNo, jdbcType=NVARCHAR},#{po.orderId, jdbcType=DOUBLE},#{po.orderNo, jdbcType=NVARCHAR},#{po.supplierId, jdbcType=DOUBLE},#{po.acceptDate, jdbcType=TIMESTAMP},#{po.payMethod, jdbcType=DOUBLE},#{po.payName, jdbcType=NVARCHAR},#{po.remark, jdbcType=NVARCHAR},#{po.num, jdbcType=DOUBLE})
    </foreach>
  </insert>
  <resultMap id="BOResultMap" type="com.smartindustry.common.bo.ds.PurchaseErpBO" extends="BaseResultMap">
    <collection property="pdpos" ofType="com.smartindustry.common.pojo.ds.sqlserver.PurchaseDetailErpPO">
      <result column="detail_id" jdbcType="DOUBLE" property="detailId" />
      <result column="物品ID" jdbcType="DOUBLE" property="materialId" />
      <result column="数量" jdbcType="DOUBLE" property="num" />
      <result column="单价" jdbcType="DOUBLE" property="unitPrice" />
      <result column="金额" jdbcType="DOUBLE" property="sum" />
      <result column="不含税单价" jdbcType="DOUBLE" property="unitPriceNoTax" />
      <result column="不含税金额" jdbcType="DOUBLE" property="sumNoTax" />
      <result column="remark" jdbcType="NVARCHAR" property="remark" />
      <result column="物品编号" jdbcType="NVARCHAR" property="materialNo" />
      <result column="物品名称" jdbcType="NVARCHAR" property="materialName" />
    </collection>
  </resultMap>
  <select id="queryAll" resultMap="BOResultMap">
    select
    <include refid="BO_Column_List"/>
    from dbo.采购到货 as s left join dbo.采购到货明细 as d on s.ID = d.到货ID
    LEFT JOIN dbo.物品 as m on d.物品ID = m.ID
    LEFT JOIN dbo.供应商 as su on su.ID = s.供应商ID
    WHERE m.[类别ID] = 117 or m.[类别ID] = 120
  </select>
</mapper>