<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.sqlserver.PurchaseDetailErpMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.ds.sqlserver.PurchaseDetailErpPO">
    <result column="ID" jdbcType="DOUBLE" property="detailId" />
    <result column="到货ID" jdbcType="DOUBLE" property="purchaseId" />
    <result column="物品ID" jdbcType="DOUBLE" property="materialId" />
    <result column="数量" jdbcType="DOUBLE" property="num" />
    <result column="单价" jdbcType="DOUBLE" property="unitPrice" />
    <result column="金额" jdbcType="DOUBLE" property="sum" />
    <result column="不含税单价" jdbcType="DOUBLE" property="unitPriceNoTax" />
    <result column="不含税金额" jdbcType="DOUBLE" property="sumNoTax" />
    <result column="备注" jdbcType="NVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, 到货ID, 物品ID,  数量, 单价, 金额, 不含税单价, 不含税金额, 备注
  </sql>
    <insert id="batchInsert" parameterType="java.util.List" keyProperty="ID" useGeneratedKeys="true">
      insert into dbo.采购到货明细 (到货ID, 物品ID,  数量, 单价, 金额, 不含税单价, 不含税金额, 备注)
      values
      <foreach collection="list" separator="," item="po">
        (#{po.purchaseId, jdbcType=DOUBLE},#{po.materialId, jdbcType=DOUBLE},#{po.num, jdbcType=DOUBLE},#{po.unitPrice, jdbcType=DOUBLE},#{po.sum, jdbcType=DOUBLE},#{po.unitPriceNoTax, jdbcType=DOUBLE},#{po.sumNoTax, jdbcType=DOUBLE},#{po.remark, jdbcType=NVARCHAR})
      </foreach>
    </insert>

    <insert id="insert" parameterType="com.smartindustry.common.pojo.ds.sqlserver.PurchaseDetailErpPO" keyProperty="ID" useGeneratedKeys="true">
        insert into dbo.采购到货明细 (到货ID, 物品ID,  数量, 单价, 金额, 不含税单价, 不含税金额, 备注)
        values
            (#{po.purchaseId, jdbcType=DOUBLE},#{po.materialId, jdbcType=DOUBLE},#{po.num, jdbcType=DOUBLE},#{po.unitPrice, jdbcType=DOUBLE},#{po.sum, jdbcType=DOUBLE},#{po.unitPriceNoTax, jdbcType=DOUBLE},#{po.sumNoTax, jdbcType=DOUBLE},#{po.remark, jdbcType=NVARCHAR})
    </insert>
    <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from dbo.采购到货明细
  </select>
</mapper>