<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.sqlserver.RoleErpMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.ds.sqlserver.RoleErpPO">
    <result column="id" jdbcType="DOUBLE" property="roldId" />
    <result column="角色代码" jdbcType="NVARCHAR" property="roleCode" />
    <result column="角色名称" jdbcType="NVARCHAR" property="roleName" />
    <result column="上级代码" jdbcType="NVARCHAR" property="parentCode" />
  </resultMap>
  <sql id="Base_Column_List">
id, 角色代码, 角色名称, 上级代码
  </sql>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from dbo.员工角色
  </select>
</mapper>