<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.sqlserver.SaleOutboundErpMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.ds.sqlserver.SaleOutboundErpPO">
    <result column="ID" jdbcType="DOUBLE" property="saleId" />
    <result column="单号" jdbcType="NVARCHAR" property="saleNo" />
    <result column="客户ID" jdbcType="DOUBLE" property="clientId" />
    <result column="编号" jdbcType="NVARCHAR" property="clientNo" />
    <result column="日期" jdbcType="TIMESTAMP" property="saleDate" />
    <result column="操作员ID" jdbcType="DOUBLE" property="operatorId" />
    <result column="操作员姓名" jdbcType="NVARCHAR" property="operatorName" />
    <result column="操作员编号" jdbcType="NVARCHAR" property="operatorCode" />
  </resultMap>
  <sql id="BO_Column_List">
    p.ID,p.单号,p.客户ID,c.编号,p.日期,p.操作员ID,p.操作员姓名,d.ID AS detail_id,d.物品ID,d.数量,d.单价,d.金额,d.备注,o.操作员编号,m.物品编号,m.物品名称
  </sql>
  <resultMap id="BOResultMap" type="com.smartindustry.common.bo.ds.SaleOutboundErpBO" extends="BaseResultMap">
    <collection property="sdpos" ofType="com.smartindustry.common.pojo.ds.sqlserver.SaleDetailErpPO">
      <result column="detail_id" jdbcType="DOUBLE" property="detailId" />
      <result column="物品ID" jdbcType="DOUBLE" property="materialId" />
      <result column="物品编号" jdbcType="NVARCHAR" property="materialNo" />
      <result column="物品名称" jdbcType="NVARCHAR" property="materialName" />
      <result column="数量" jdbcType="DOUBLE" property="saleNum" />
      <result column="单价" jdbcType="DOUBLE" property="unitPrice" />
      <result column="金额" jdbcType="DOUBLE" property="sum" />
      <result column="备注" jdbcType="NVARCHAR" property="remark" />
    </collection>
  </resultMap>
  <select id="queryAll" resultMap="BOResultMap">
    select
    <include refid="BO_Column_List"/>
    FROM
    销售发货 AS p
    LEFT JOIN 销售发货明细 AS d ON p.ID = d.发货ID
    LEFT JOIN 物品 as m on m.ID = d.物品ID
    LEFT JOIN 操作员 as o on o.id = p.操作员ID
    LEFT JOIN 客户 as c on c.id = p.客户ID
    WHERE m.类别ID = 117 or m.类别ID = 120
  </select>
</mapper>