<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.om.LabelRecommendMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.om.LabelRecommendPO">
    <id column="label_recommend_id" jdbcType="BIGINT" property="labelRecommendId" />
    <result column="pick_body_id" jdbcType="BIGINT" property="pickBodyId" />
    <result column="storage_material_id" jdbcType="BIGINT" property="storageMaterialId" />
  </resultMap>
  <sql id="Base_Column_List">
    label_recommend_id, pick_body_id, storage_material_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_label_recommend
    where label_recommend_id = #{labelRecommendId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from om_label_recommend
    where label_recommend_id = #{labelRecommendId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.om.LabelRecommendPO">
    insert into om_label_recommend (label_recommend_id, pick_body_id, storage_material_id
      )
    values (#{labelRecommendId,jdbcType=BIGINT}, #{pickBodyId,jdbcType=BIGINT}, #{storageMaterialId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.om.LabelRecommendPO">
    insert into om_label_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="labelRecommendId != null">
        label_recommend_id,
      </if>
      <if test="pickBodyId != null">
        pick_body_id,
      </if>
      <if test="storageMaterialId != null">
        storage_material_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="labelRecommendId != null">
        #{labelRecommendId,jdbcType=BIGINT},
      </if>
      <if test="pickBodyId != null">
        #{pickBodyId,jdbcType=BIGINT},
      </if>
      <if test="storageMaterialId != null">
        #{storageMaterialId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.om.LabelRecommendPO">
    update om_label_recommend
    <set>
      <if test="pickBodyId != null">
        pick_body_id = #{pickBodyId,jdbcType=BIGINT},
      </if>
      <if test="storageMaterialId != null">
        storage_material_id = #{storageMaterialId,jdbcType=BIGINT},
      </if>
    </set>
    where label_recommend_id = #{labelRecommendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.om.LabelRecommendPO">
    update om_label_recommend
    set pick_body_id = #{pickBodyId,jdbcType=BIGINT},
      storage_material_id = #{storageMaterialId,jdbcType=BIGINT}
    where label_recommend_id = #{labelRecommendId,jdbcType=BIGINT}
  </update>
</mapper>