<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.om.MixBodyMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.om.MixBodyPO">
    <id column="mix_body_id" jdbcType="BIGINT" property="mixBodyId" />
    <result column="mix_head_id" jdbcType="BIGINT" property="mixHeadId" />
    <result column="material_id" jdbcType="BIGINT" property="materialId" />
    <result column="plan_num" jdbcType="DECIMAL" property="planNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    mix_body_id, mix_head_id, material_id, plan_num, create_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_mix_body
    where mix_body_id = #{mixBodyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from om_mix_body
    where mix_body_id = #{mixBodyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.om.MixBodyPO">
    insert into om_mix_body (mix_body_id, mix_head_id, material_id, 
      plan_num, create_time, dr
      )
    values (#{mixBodyId,jdbcType=BIGINT}, #{mixHeadId,jdbcType=BIGINT}, #{materialId,jdbcType=BIGINT}, 
      #{planNum,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.om.MixBodyPO">
    insert into om_mix_body
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mixBodyId != null">
        mix_body_id,
      </if>
      <if test="mixHeadId != null">
        mix_head_id,
      </if>
      <if test="materialId != null">
        material_id,
      </if>
      <if test="planNum != null">
        plan_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mixBodyId != null">
        #{mixBodyId,jdbcType=BIGINT},
      </if>
      <if test="mixHeadId != null">
        #{mixHeadId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null">
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="planNum != null">
        #{planNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.om.MixBodyPO">
    update om_mix_body
    <set>
      <if test="mixHeadId != null">
        mix_head_id = #{mixHeadId,jdbcType=BIGINT},
      </if>
      <if test="materialId != null">
        material_id = #{materialId,jdbcType=BIGINT},
      </if>
      <if test="planNum != null">
        plan_num = #{planNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where mix_body_id = #{mixBodyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.om.MixBodyPO">
    update om_mix_body
    set mix_head_id = #{mixHeadId,jdbcType=BIGINT},
      material_id = #{materialId,jdbcType=BIGINT},
      plan_num = #{planNum,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where mix_body_id = #{mixBodyId,jdbcType=BIGINT}
  </update>
</mapper>