<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.om.OutboundMapper">
    <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.om.OutboundPO">
        <id column="outbound_id" jdbcType="BIGINT" property="outboundId"/>
        <result column="pick_head_id" jdbcType="BIGINT" property="pickHeadId"/>
        <result column="outbound_no" jdbcType="CHAR" property="outboundNo"/>
        <result column="outbound_time" jdbcType="TIMESTAMP" property="outboundTime"/>
        <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="dr" jdbcType="TINYINT" property="dr"/>
    </resultMap>
    <sql id="Base_Column_List">
        outbound_id, pick_head_id, outbound_no, outbound_time, ship_time, `status`, create_time,
    dr
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from om_outbound
        where outbound_id = #{outboundId,jdbcType=BIGINT} and dr = 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from om_outbound
        where outbound_id = #{outboundId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.smartindustry.common.pojo.om.OutboundPO">
        insert into om_outbound (outbound_id, pick_head_id, outbound_no,
                                 outbound_time, ship_time, `status`,
                                 create_time, dr)
        values (#{outboundId,jdbcType=BIGINT}, #{pickHeadId,jdbcType=BIGINT}, #{outboundNo,jdbcType=CHAR},
                #{outboundTime,jdbcType=TIMESTAMP}, #{shipTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT},
                #{createTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.om.OutboundPO">
        insert into om_outbound
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">
                outbound_id,
            </if>
            <if test="pickHeadId != null">
                pick_head_id,
            </if>
            <if test="outboundNo != null">
                outbound_no,
            </if>
            <if test="outboundTime != null">
                outbound_time,
            </if>
            <if test="shipTime != null">
                ship_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="dr != null">
                dr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outboundId != null">
                #{outboundId,jdbcType=BIGINT},
            </if>
            <if test="pickHeadId != null">
                #{pickHeadId,jdbcType=BIGINT},
            </if>
            <if test="outboundNo != null">
                #{outboundNo,jdbcType=CHAR},
            </if>
            <if test="outboundTime != null">
                #{outboundTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipTime != null">
                #{shipTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                #{dr,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.om.OutboundPO">
        update om_outbound
        <set>
            <if test="pickHeadId != null">
                pick_head_id = #{pickHeadId,jdbcType=BIGINT},
            </if>
            <if test="outboundNo != null">
                outbound_no = #{outboundNo,jdbcType=CHAR},
            </if>
            <if test="outboundTime != null">
                outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shipTime != null">
                ship_time = #{shipTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dr != null">
                dr = #{dr,jdbcType=TINYINT},
            </if>
        </set>
        where outbound_id = #{outboundId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.om.OutboundPO">
        update om_outbound
        set pick_head_id  = #{pickHeadId,jdbcType=BIGINT},
            outbound_no   = #{outboundNo,jdbcType=CHAR},
            outbound_time = #{outboundTime,jdbcType=TIMESTAMP},
            ship_time     = #{shipTime,jdbcType=TIMESTAMP},
            `status`      = #{status,jdbcType=TINYINT},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            dr            = #{dr,jdbcType=TINYINT}
        where outbound_id = #{outboundId,jdbcType=BIGINT}
    </update>

    <resultMap id="BOResultMap" type="com.smartindustry.common.bo.om.OutboundBO" extends="BaseResultMap">
        <result column="pick_no" jdbcType="CHAR" property="pickNo"/>
        <result column="order_no" jdbcType="CHAR" property="orderNo"/>
        <result column="order_type" jdbcType="TINYINT" property="orderType"/>
        <result column="correspond_project" jdbcType="CHAR" property="correspondProject"/>
        <result column="plan_time" jdbcType="TIMESTAMP" property="planTime"/>
    </resultMap>
    <sql id="BO_Column_List">
        o.outbound_id, o.pick_head_id, o.outbound_no, o.outbound_time, o.ship_time, o.`status`, o.create_time, o.dr,
        ph.pick_no, ph.order_no, ph.order_type, ph.correspond_project, ph.plan_time
    </sql>
    <select id="pageQuery" parameterType="java.util.Map" resultMap="BOResultMap">
        select
        <include refid="BO_Column_List"/>
        from om_outbound o
        left join om_pick_head ph on o.pick_head_id = ph.pick_head_id
        where o.dr = 1 and ph.dr = 1 and ph.order_type = #{otype,jdbcType=TINYINT}
        <if test="ono != null and ono != ''">
            and o.outbound_no like '%' #{ono,jdbcType=CHAR} '%'
        </if>
        <if test="pno != null and pno != ''">
            and ph.pick_no like '%' #{pno,jdbcType=CHAR} '%'
        </if>
        <if test="cproject != null and cproject != ''">
            and ph.correspond_project like '%' #{cproject,jdbcType=CHAR} '%'
        </if>
        <if test="status != null and status != 0">
            and o.`status` = #{status,jdbcType=TINYINT}
        </if>
        order by o.create_time desc
    </select>
    <select id="queryByOid" parameterType="java.lang.Long" resultMap="BOResultMap">
        select
        <include refid="BO_Column_List"/>
        from om_outbound o
        left join om_pick_head ph on o.pick_head_id = ph.pick_head_id
        where o.dr = 1 and ph.dr = 1 and o.outbound_id = #{oId,jdbcType=BIGINT}
    </select>
</mapper>