<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartindustry.common.mapper.om.PickCheckMapper">
  <resultMap id="BaseResultMap" type="com.smartindustry.common.pojo.om.PickCheckPO">
    <id column="pick_head_id" jdbcType="BIGINT" property="pickHeadId" />
    <result column="remark" jdbcType="CHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    pick_head_id, remark, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from om_pick_check
    where pick_head_id = #{pickHeadId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from om_pick_check
    where pick_head_id = #{pickHeadId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.smartindustry.common.pojo.om.PickCheckPO">
    insert into om_pick_check (pick_head_id, remark, `status`
      )
    values (#{pickHeadId,jdbcType=BIGINT}, #{remark,jdbcType=CHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartindustry.common.pojo.om.PickCheckPO">
    insert into om_pick_check
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pickHeadId != null">
        pick_head_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pickHeadId != null">
        #{pickHeadId,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartindustry.common.pojo.om.PickCheckPO">
    update om_pick_check
    <set>
      <if test="remark != null">
        remark = #{remark,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where pick_head_id = #{pickHeadId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartindustry.common.pojo.om.PickCheckPO">
    update om_pick_check
    set remark = #{remark,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT}
    where pick_head_id = #{pickHeadId,jdbcType=BIGINT}
  </update>
</mapper>